 
<!--======= HOME MAIN SLIDER =========-->
<section class="home-slider">
    <div class="tp-banner-container">
      <div class="tp-banner-fix">
        <ul>
			<?php foreach($tripitoesSliders as $sliderImage){ ?>
					<li data-transition="random" data-slotamount="7" class="navSlider"> 
						<?= $this->Html->image($cdn_path.$sliderImage->image_url,['data-bgposition'=>'center top','class'=>'ieeightfallbackimage']);?>
					<!--<img src="images/slides/slide-7.jpg" data-bgposition="center top" alt="" />-->
						<div class="overlay"></div>
					<!-- Layer -->
					<div class="tp-caption sft font-montserrat text-uppercase tp-resizeme rs-parallaxlevel-4" 
						data-x="center" 
						data-y="center" data-voffset="-10"
						data-speed="300" 
						data-start="1000" 
						data-easing="easeOutBack"
						data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
						data-splitin="none" 
						data-splitout="none" 
						data-elementdelay="0.1" 
						data-endelementdelay="0.1" 
						data-endspeed="300" 
						data-captionhidden="on"
						style="color: #fff; font-size: 30px; font-weight: 500; letter-spacing:2px; "><?php echo $sliderImage->title;?></div>

					<!-- Layer -->
					<div class="tp-caption   font-montserrat text-center tp-resizeme rs-parallaxlevel-4" 
					data-x="center" 
					data-y="center" data-voffset="40" 
					data-speed="300" 
					data-start="1700" 
					data-easing="easeOutBack"
					data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
					data-splitin="none" 
					data-splitout="none" 
					data-elementdelay="0.1" 
					data-endelementdelay="0.1" 
					data-endspeed="300" 
					data-captionhidden="on" 
					style="color: #fff; font-weight: 100; font-size: 14px;"><?php echo $sliderImage->description;?></div>

					<!-- Layer -->
					<div class="tp-caption sfb  font-montserrat tp-resizeme rs-parallaxlevel-4" 
					data-x="right" 
					data-y="center" data-voffset="80" 
					data-speed="700" 
					data-start="1500" 
					data-easing="easeOutBack"
					data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
					data-splitin="none" 
					data-splitout="none" 
					data-elementdelay="0.1" 
					data-endelementdelay="0.1" 
					data-endspeed="300" 
					data-captionhidden="on" 
					style="color: #fff; font-weight: 100; font-size: 16px; z-index:9"><a target="_blank" href="<?= $sliderImage->link;?>"><?php echo $sliderImage->name;?> </a></div>


					<!-- Layer -->
					<div class="tp-caption   font-montserrat tp-resizeme rs-parallaxlevel-4" 
					data-x="right" 
					data-y="center" data-voffset="100" 
					data-speed="700" 
					data-start="1500" 
					data-easing="easeOutBack"
					data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
					data-splitin="none" 
					data-splitout="none" 
					data-elementdelay="0.1" 
					data-endelementdelay="0.1" 
					data-endspeed="300" 
					data-captionhidden="on" 
					style="color: #fff; font-weight: 100; font-size: 12px;"><a target="_blank" href="<?= $sliderImage->link;?>"><?php echo $sliderImage->location;?> <i class="fa fa-arrow-circle-o-right"></i></a></div>
					</li>
			<?php } ?>
          <!-- Slider 1 -->
        </ul>
      </div>
    </div>
  </section>


  <div class="animate fadeInRight" data-wow-delay="0.4s">
	<div class="boxes-in mobile">
	  <div class="testi-slides"> 
	    <?php foreach($tripitoesSliders as $sliderImage){ ?>
	    <!-- SLIDER -->
	    <div class="slides">
			<h6><?php echo $sliderImage->title;?></h6>
			<p><?php echo $sliderImage->description;?></p>
		    <div class="avatar">  
				<?= $this->Html->image($cdn_path.$sliderImage->image_url,['data-bgposition'=>'center top','class'=>'']);?>
				<span><a href="#"><?php echo $sliderImage->location;?> <i class="fa fa-angle-right"></i></a></span>
			</div>
	    </div>
	    <?php } ?>
	  </div>  
	</div>
	</div>
