/*------------------------------------------------------------------
    ADD DEVELOPER OWN STYLING HERE AVOID TO USE STYLE.CSS AND MAIN.CSS
-------------------------------------------------------------------*/
div.reviewRatings {
  width: 139px;
  display: inline-block;
}
 
input.RRs { display: none !important; }
span.RRs:first-child{
  padding-left: 0px;
}

span.RRs {
  float: right;
  padding-left: 0px;
  padding: 0 5px;
  font-size: 18px;
  color: #c1c1c1;
  transition: all .2s;
}
 input.RRs:checked ~ span.RRs:before {
  content: '\f005';
  color: #ffc800;
  transition: all 0.25s;
}

a:hover,a:active,a:focus{outline:none !important;}
button:hover,button:active,button:focus{outline:none !important;}

input.RRs-5:checked ~ span.RRs:before {color: #ffcd18;/* text-shadow: 0 0 20px #952; */}

input.RRs-1:checked ~ span.RRs:before { color: #F62; }
span.RRs:hover {transform: rotate(-15deg) scale(1.2);;}
span.RRs:before {
  content: '\f006';
  font-family: FontAwesome;
}
textarea {
  resize:none !important;
}


/*******/
.reportButton{
  margin-right: 2%;
  width: 30%;
  text-align: center;
  float: left;
  padding: 2%;
  background: #000;
  color:#FFF;
}
.reportButton:hover{
  color:#FFF;
}

.reportButtonS{
  margin-right: 2%;
  width: 30%;
  text-align: center; 
  padding: 2%;
  background: #000;
  color:#FFF;
}
.reportButtonS:hover{
  color:#FFF;
}
@media all and (min-width: 767px) {
  .ratingButton{
    margin-right: 2%;
    width: 100%;
    text-align: center;
    float: left;
    padding: 2%;
    background: #000;
    color:#FFF;
  }
  .ratingButton:hover{
    color:#FFF;
  }
}
 
@media all and (min-width: 767px) {
  /* Logo for Mobile */
  .imageformob {
    height:262px;width:273px
  }
}

.rateUser{
  min-width: auto !important;
  max-width: auto !important;
  min-height: auto !important;
  max-height: auto !important;
}
.redirect{
  cursor: pointer;
}
 

   






 



