.owl-carousel,
.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}
.owl-carousel{display:none;width:100%;z-index:1}
.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;touch-action:manipulation;-moz-backface-visibility:hidden}
.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0, 0, 0)}
.owl-carousel .owl-item,
.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0)}
.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}
.owl-carousel .owl-item img{display:block;width:100%}
.no-js .owl-carousel,
.owl-carousel.owl-loaded{display:block}
.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev{cursor:pointer;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot{background:0 0;color:inherit;border:none;padding:0!important;font:inherit}
.owl-carousel.owl-loading{opacity:0;display:block}
.owl-carousel.owl-hidden{opacity:0}
.owl-carousel.owl-refresh .owl-item{visibility:hidden}
.owl-carousel.owl-drag .owl-item{-ms-touch-action:pan-y;touch-action:pan-y;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.owl-carousel.owl-grab{cursor:move;cursor:grab}
.owl-carousel.owl-rtl{direction:rtl}
.owl-carousel.owl-rtl .owl-item{float:right}
.owl-carousel .animated{animation-duration:1s;animation-fill-mode:both}
.owl-carousel .owl-animated-in{z-index:0}
.owl-carousel .owl-animated-out{z-index:1}
.owl-carousel .fadeOut{animation-name:fadeOut}
@keyframes fadeOut{0%{opacity:1}
100%{opacity:0}
}
.owl-height{transition:height .5s ease-in-out}
.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}
.owl-carousel .owl-item .owl-lazy:not([src]),
.owl-carousel .owl-item .owl-lazy[src^=""]{max-height:0}
.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}
.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}
.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:transform .1s ease}
.owl-carousel .owl-video-play-icon:hover{-ms-transform:scale(1.3, 1.3);transform:scale(1.3, 1.3)}
.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn{display:none}
.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}
.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}
.owl-theme .owl-dots,.owl-theme .owl-nav{text-align:center;-webkit-tap-highlight-color:transparent}.owl-theme .owl-nav{margin-top:10px}.owl-theme .owl-nav [class*=owl-]{color:#FFF;font-size:14px;margin:5px;padding:4px 7px;background:#D6D6D6;display:inline-block;cursor:pointer;border-radius:3px}.owl-theme .owl-nav [class*=owl-]:hover{background:#869791;color:#FFF;text-decoration:none}.owl-theme .owl-nav .disabled{opacity:.5;cursor:default}.owl-theme .owl-nav.disabled+.owl-dots{margin-top:10px}.owl-theme .owl-dots .owl-dot{display:inline-block;zoom:1}.owl-theme .owl-dots .owl-dot span{width:10px;height:10px;margin:5px 7px;background:#D6D6D6;display:block;-webkit-backface-visibility:visible;transition:opacity .2s ease;border-radius:30px}.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{background:#869791}
#loader{position:fixed;top:0;left:0;height:100%;width:100%;background:rgba(255,255,255,1);z-index:999999;opacity:1;text-align:center;}
.loading{-webkit-align-self:center;-ms-flex-item-align:center;align-self:center;width:100px;margin:0 auto;margin-top:0px;position:relative;text-indent:-9999em;}
#loader p{font-style:italic;margin-top:20px;font-size:12px;}
.ball{border-radius:0;background-image:url(../images/loading.png);width:10px;height:13px;position:absolute;-webkit-animation:loading 1.2s linear infinite;animation:loading 1.2s linear infinite;}
.ball:nth-of-type(2){-webkit-animation-delay:0.4s;animation-delay:0.4s;}
.ball:nth-of-type(3){-webkit-animation-delay:0.8s;animation-delay:0.8s;}
@-webkit-keyframes loading{0%{opacity:0;-webkit-transform:scale(0.5);transform:scale(0.5);}
20%{opacity:1;-webkit-transform:scale(1);transform:scale(1);}
40%{-webkit-transform:translate3d(33px, 0, 0);transform:translate3d(33px, 0, 0);}
60%{-webkit-transform:translate3d(66px, 0, 0);transform:translate3d(66px, 0, 0);}
80%{-webkit-transform:translate3d(99px, 0, 0);transform:translate3d(99px, 0, 0);opacity:1;}
100%{-webkit-transform:translate3d(99px, 0, 0) scale(0.5);transform:translate3d(99px, 0, 0) scale(0.5);opacity:0;}
}
@keyframes loading{0%{opacity:0;-webkit-transform:scale(0.5);transform:scale(0.5);}
20%{opacity:1;-webkit-transform:scale(1);transform:scale(1);}
40%{-webkit-transform:translate3d(33px, 0, 0);transform:translate3d(33px, 0, 0);}
60%{-webkit-transform:translate3d(66px, 0, 0);transform:translate3d(66px, 0, 0);}
80%{-webkit-transform:translate3d(99px, 0, 0);transform:translate3d(99px, 0, 0);opacity:1;}
100%{-webkit-transform:translate3d(99px, 0, 0) scale(0.5);transform:translate3d(99px, 0, 0) scale(0.5);opacity:0;}
}
.ownmenu{width:100%;padding:0;margin:0;position:relative;float:left;list-style:none;}
.ownmenu li{display:inline-block;float:left;}
.ownmenu a{-o-transition:all .3s linear;-webkit-transition:all .3s linear;-moz-transition:all .3s linear;transition:all .3s linear;outline:none;z-index:0;}
.ownmenu li{}
.ownmenu ul.dropdown, .ownmenu ul.dropdown li ul.dropdown{list-style:none;margin:0;padding:0;display:none;position:absolute;z-index:99;padding-left:0px;width:250px;background:none;}
.ownmenu ul.dropdown li ul.dropdown{left:100%;top:inherit;background:#272727;}
header nav .ownmenu ul.dropdown .indicator{display:block;left:-15px;margin-left:0px;}
.ownmenu ul.dropdown li{clear:both;width:100%;}
.ownmenu ul.dropdown li a{width:100%;padding:12px 24px 12px;display:inline-block;float:left;clear:both;text-decoration:none;color:#999;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.ownmenu ul.dropdown li:hover > a{color:#5f9a02 !important;}
.ownmenu ul.dropdown li ul.dropdown.left{left:auto;right:100%;}
.ownmenu .indicator{position:relative;right:5px;font-size:14px;float:right;}
.ownmenu ul li .indicator{font-size:12px;top:1px;left:10px;}
.ownmenu ul.dropdown{top:54px;}
.ownmenu > li > .megamenu{top:54px;}
.ownmenu > li > .megamenu{position:absolute;display:none;background:#fff;width:25%;font-size:12px;color:#999;z-index:99;padding:0 0px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.ownmenu li > .megamenu ul{margin:0px;float:left;padding:0;display:block;position:relative;}
.ownmenu li > .megamenu ul li{width:100%;padding:0px;}
.ownmenu li > .megamenu ul li.title{margin:0 0 8px;padding:0 0 5px;font-size:14px;border-bottom:solid 1px #666;}
.ownmenu li > .megamenu h5{width:100%;margin:0;padding:0;}
.ownmenu li > .megamenu a{color:#999;text-decoration:none;font-size:12px;-webkit-transition:color 0.3s linear;-moz-transition:color 0.3s linear;-o-transition:color 0.3s linear;transition:color 0.3s linear;}
.ownmenu li > .megamenu a:hover{color:#dedede;}
.ownmenu .megamenu img{width:100%;-webkit-transition:border 0.3s linear;-moz-transition:border 0.3s linear;-o-transition:border 0.3s linear;transition:border 0.3s linear;}
.ownmenu > li.fix-sub > .megamenu, .ownmenu > li.fix-sub > .megamenu.half-width, .ownmenu > li.fix-sub > .dropdown{right:0;}
.ownmenu > li > .megamenu.half-width{width:50%;}
.ownmenu > li > .megamenu.full-width{width:100%;left:0;text-align:left;}
.ownmenu li > .megamenu form{width:100%;}
.ownmenu li > .megamenu form input[type="text"], .ownmenu li > .megamenu form textarea{padding:5px;color:#999;background:#444;font-size:14px;border:solid 1px transparent;outline:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-transition:border 0.3s linear;-moz-transition:border 0.3s linear;-o-transition:border 0.3s linear;transition:border 0.3s linear;}
.ownmenu li > .megamenu form input[type="text"]:focus, .ownmenu li > .megamenu form textarea:focus{border-color:#e0e0e0;}
.ownmenu li > .megamenu form input[type="text"]{width:100%;margin-top:10px;}
.ownmenu li > .megamenu form textarea{width:100%;margin-top:10px;}
.ownmenu li > .megamenu form input[type="submit"]{width:25%;float:right;height:30px;margin-top:10px;border:none;cursor:pointer;background:#444;color:#777;-webkit-transition:background 0.3s linear;-moz-transition:background 0.3s linear;-o-transition:background 0.3s linear;transition:background 0.3s linear;}
.ownmenu li > .megamenu form input[type="submit"]:hover{background:#e0e0e0;color:#555;}
.megamenu .row{}
.megamenu .row:first-child{margin-top:0;}
.megamenu .row:before, .megamenu .row:after{display:table;content:"";line-height:0;}
.megamenu .row:after{clear:both;}
.megamenu .row .col1, .megamenu .row .col2, .megamenu .row .col3, .megamenu .row .col4, .megamenu .row .col5, .megamenu .row .col6{display:block;width:100%;min-height:20px;float:left;margin-left:2.127659574468085%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.megamenu .row [class*="col"]:first-child{margin-left:0;}
.megamenu .row .col1{width:14.893617021276595%;}
.ownmenu > li.right{float:right;}
.ownmenu > li.right > .megamenu, .ownmenu > li.right > .megamenu.half-width, .ownmenu > li.right > .dropdown{right:0;}
.ownmenu > li.jsright{float:right;}
.ownmenu > li.jsright.last > .megamenu, .ownmenu > li.jsright.last > .megamenu.half-width, .ownmenu > li.jsright.last > .dropdown{right:0;}
.ownmenu > li > a > i{line-height:23px !important;margin-right:6px;font-size:18px;float:left;}
.ownmenu > li.showhide{display:none;width:100%;height:50px;cursor:pointer;color:#999;}
.ownmenu > li.showhide span.title{margin:15px 0 0 25px;float:left;}
.ownmenu > li.showhide span.icon{margin:17px 20px;float:right;}
.ownmenu > li.showhide .icon em{margin-bottom:3px;display:block;width:20px;height:2px;background:#999;}
@media (max-width:767px){.ownmenu > li{display:block;width:100%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.fur-slide.owl-carousel .owl-item img.spaical{display:block;width:100%;height:100%;max-height:180px !important;min-height:180px !important;-webkit-transform-style:preserve-3d;}
.client-slide.owl-carousel .owl-item img.spaical{display:block;width:100%;height:100%;max-height:180px !important;min-height:180px !important;-webkit-transform-style:preserve-3d;}
.transport-slide.owl-carousel .owl-item img.spaical{display:block;width:100%;height:100%;max-height:180px !important;min-height:180px !important;-webkit-transform-style:preserve-3d;}
.ownmenu > li > a{padding:15px 25px;}
.ownmenu a{width:100%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.ownmenu ul.dropdown, .ownmenu ul.dropdown li ul.dropdown{width:100% !important;left:0;position:static !important;border:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.ownmenu ul.dropdown li{}
.ownmenu ul.dropdown > li > a{padding-left:40px !important;}
.ownmenu > li > .megamenu{width:100% !important;position:static;border-top:none;}
.ownmenu > li > .megamenu .row [class*="col"]{float:none;display:block;width:100% !important;margin-left:0;margin-top:15px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.ownmenu > li > .megamenu .row:first-child [class*="col"]:first-child{margin-top:0;}
.ownmenu > li > .megamenu .row{margin-top:0;}
.ownmenu > li > ul.dropdown > li > a{padding-left:0px !important;}
.ownmenu > li > ul.dropdown > li > ul.dropdown > li > a{padding-left:60px !important;}
.ownmenu > li > ul.dropdown > li > ul.dropdown > li > ul.dropdown > li > a{padding-left:80px !important;}
}
@media (min-width:767px) and (max-width:900px){.ownmenu > li > .megamenu{width:100% !important;left:0 !important;}
}
.lighter{position:fixed;top:0;bottom:0;left:0;right:0;z-index:4000;opacity:1;}
.lighter img{display:block;width:100%;height:100%;}
.lighter-fade .lighter-overlay{opacity:0;}
.lighter-loading .lighter-spinner{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);}
.lighter-loading .lighter-container{opacity:0;-webkit-transform:scale(0.4);-moz-transform:scale(0.4);-ms-transform:scale(0.4);-o-transform:scale(0.4);transform:scale(0.4);}
.lighter-fetched .lighter-spinner{opacity:0;-webkit-transform:scale(0.4);-moz-transform:scale(0.4);-ms-transform:scale(0.4);-o-transform:scale(0.4);transform:scale(0.4);}
.lighter-fetched .lighter-container{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);}
.lighter-fade .lighter-container{opacity:0;-webkit-transform:scale(0.4);-moz-transform:scale(0.4);-ms-transform:scale(0.4);-o-transform:scale(0.4);transform:scale(0.4);}
.lighter-fade .lighter-spinner{opacity:0;-webkit-transform:scale(0.4);-moz-transform:scale(0.4);-ms-transform:scale(0.4);-o-transform:scale(0.4);transform:scale(0.4);}
.lighter-overlay{-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;-webkit-transition-property:opacity, -webkit-transform;-moz-transition-property:opacity, -moz-transform;transition-property:opacity, transform;background:rgba(255, 255, 255, 0.8);height:100%;width:100%;}
.lighter-container{-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;-webkit-transition-property:opacity, -webkit-transform;-moz-transition-property:opacity, -moz-transform;transition-property:opacity, transform;background:#FFF;position:absolute;z-index:4000;top:50%;left:50%;right:50%;bottom:50%;box-shadow:0px 2px 8px rgba(0, 0, 0, 0.4);}
.lighter-close{top:0;right:0;width:32px;height:32px;text-align:center;margin:-15px;line-height:32px;font-size:16pt;font-family:Helvetica, Arial, serif;}
.lighter-next, .lighter-prev{display:none;top:50%;width:40px;height:40px;margin:-20px 0;line-height:34px;font-size:32pt;font-family:Times, serif;}
.lighter-next{right:40px;}
.lighter-prev{left:40px;}
.lighter-next, .lighter-prev, .lighter-close{cursor:pointer;position:absolute;z-index:8000;text-align:center;border-radius:50%;color:rgba(255, 255, 255, 1);background:rgba(0, 0, 0, 0.4);-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;-webkit-transition-property:color, background;-moz-transition-property:color, background;transition-property:color, background;}
.lighter-next:hover, .lighter-prev:hover, .lighter-close:hover{color:white;background:rgba(0, 0, 0, 0.4);}
.lighter-next:active, .lighter-prev:active, .lighter-close:active{color:white;background:rgba(0, 0, 0, 0.4);}
.lighter-spinner{-webkit-transition:opacity 0.4s ease-in-out;-moz-transition:opacity 0.4s ease-in-out;transition:opacity 0.4s ease-in-out;position:absolute;width:60px;height:20px;margin:-10px -30px;z-index:4000;top:50%;left:50%;right:50%;bottom:50%;}
.lighter-spinner::after{clear:both;content:"";display:table;}
.lighter-dot{display:block;float:left;background:rgba(0, 0, 0, 0.2);width:16px;height:16px;margin:2px;padding:0;border-radius:50%;-webkit-animation:lighter-bounce 1.6s infinite ease-in-out;-moz-animation:lighter-bounce 1.6s infinite ease-in-out;animation:lighter-bounce 1.6s infinite ease-in-out;}
.lighter-dot:nth-child(1){-webkit-animation-delay:-0.4s;-moz-animation-delay:-0.4s;animation-delay:-0.4s;}
.lighter-dot:nth-child(2){-webkit-animation-delay:-0.26667s;-moz-animation-delay:-0.26667s;animation-delay:-0.26667s;}
.lighter-dot:nth-child(3){-webkit-animation-delay:-0.13333s;-moz-animation-delay:-0.13333s;animation-delay:-0.13333s;}
@-webkit-keyframes lighter-bounce{from, to{-webkit-transform:scale(0);}
20%{-webkit-transform:scale(0);}
50%{-webkit-transform:scale(1);}
80%{-webkit-transform:scale(0);}
}
@-moz-keyframes lighter-bounce{from, to{-moz-transform:scale(0);}
20%{-moz-transform:scale(0);}
50%{-moz-transform:scale(1);}
80%{-moz-transform:scale(0);}
}
@keyframes lighter-bounce{from, to{-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0);}
20%{-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0);}
50%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);}
80%{-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0);}
}
.flex-container a:hover, .flex-slider a:hover, .flex-container a:focus, .flex-slider a:focus{outline:none;}
.slides, .slides > li, .flex-control-nav, .flex-direction-nav{margin:0;padding:0;list-style:none;}
.flex-pauseplay span{text-transform:capitalize;}
.flexslider{margin:0;padding:0;}
.flexslider .slides > li{display:none;-webkit-backface-visibility:hidden;}
.flexslider .slides img{width:100%;display:block;}
.flexslider .slides:after{content:"\0020";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
html[xmlns] .flexslider .slides{display:block;}
* html .flexslider .slides{height:1%;}
.no-js .flexslider .slides > li:first-child{display:block;}
.flexslider{margin:0 0 60px;background:#ffffff;border:4px solid #ffffff;position:relative;zoom:1;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:'' 0 1px 4px rgba(0, 0, 0, 0.2);-moz-box-shadow:'' 0 1px 4px rgba(0, 0, 0, 0.2);-o-box-shadow:'' 0 1px 4px rgba(0, 0, 0, 0.2);box-shadow:'' 0 1px 4px rgba(0, 0, 0, 0.2);}
.flexslider .slides{zoom:1;}
.flexslider .slides img{height:auto;}
.flex-viewport{max-height:2000px;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-ms-transition:all 1s ease;-o-transition:all 1s ease;transition:all 1s ease;}
.loading .flex-viewport{max-height:300px;}
.carousel li{margin-right:5px;}
.flex-direction-nav{*height:0;}
.flex-direction-nav a{text-decoration:none;display:block;width:40px;height:40px;margin:-30px 0 0;position:absolute;top:50%;font-size:20px;z-index:10;overflow:hidden;opacity:1;cursor:pointer;text-align:center;line-height:40px;background:rgba(0,0,0,0.8);color:#ecc731;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.flex-direction-nav a:before{font-family:"";font-size:20px;display:inline-block;width:100%;font-family:'FontAwesome';content:'\f104';color:#3dc5df;margin-top:0px;float:left;}
.flex-direction-nav a.flex-next:before{content:'\f105';}
.flex-direction-nav .flex-prev{}
.flex-direction-nav .flex-next{text-align:center;right:0px;}
.flexslider:hover .flex-direction-nav .flex-prev{opacity:0.7;}
.flexslider:hover .flex-direction-nav .flex-prev:hover{opacity:1;}
.flexslider:hover .flex-direction-nav .flex-next{opacity:0.7;}
.flexslider:hover .flex-direction-nav .flex-next:hover{opacity:1;}
.flex-nav-next{right:60px;position:absolute;}
.flex-nav-prev{left:20px;position:absolute;}
.flex-direction-nav .flex-disabled{opacity:0!important;filter:alpha(opacity=0);cursor:default;}
.flex-pauseplay a{display:block;width:20px;height:20px;position:absolute;bottom:5px;left:10px;opacity:0.8;z-index:10;overflow:hidden;cursor:pointer;color:#000;}
.flex-pauseplay a:before{font-family:"flexslider-icon";font-size:20px;display:inline-block;content:'\f004';}
.flex-pauseplay a:hover{opacity:1;}
.flex-pauseplay a .flex-play:before{content:'\f003';}
.flex-control-nav{width:100%;position:absolute;bottom:-40px;text-align:center;}
.flex-control-nav li{margin:0 6px;display:inline-block;zoom:1;*display:inline;}
.flex-control-paging li a{width:11px;height:11px;display:block;background:#666;background:rgba(0, 0, 0, 0.5);cursor:pointer;text-indent:-9999px;-webkit-box-shadow:inset 0 0 3px rgba(0, 0, 0, 0.3);-moz-box-shadow:inset 0 0 3px rgba(0, 0, 0, 0.3);-o-box-shadow:inset 0 0 3px rgba(0, 0, 0, 0.3);box-shadow:inset 0 0 3px rgba(0, 0, 0, 0.3);-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;}
.flex-control-paging li a:hover{background:#333;background:rgba(0, 0, 0, 0.7);}
.flex-control-paging li a.flex-active{background:#000;background:rgba(0, 0, 0, 0.9);cursor:default;}
.flex-control-thumbs{margin:15px 0 0;position:static;overflow:hidden;}
.flex-control-thumbs li{width:20%;float:left;margin:0;padding:0 5px;}
.flex-control-thumbs img{width:100%;height:auto;display:block;opacity:0.5;cursor:pointer;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-ms-transition:all 1s ease;-o-transition:all 1s ease;transition:all 1s ease;}
.flex-control-thumbs img:hover{opacity:1;}
.flex-control-thumbs .flex-active{opacity:1;cursor:default;}
@media screen and (max-width:860px){.flex-direction-nav .flex-prev{opacity:1;left:10px;}
.flex-direction-nav .flex-next{opacity:1;right:10px;}
}
.owl-carousel .animated{-webkit-animation-duration:1000ms;animation-duration:1000ms;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
.owl-carousel .owl-animated-in{z-index:0;}
.owl-carousel .owl-animated-out{z-index:1;}
.owl-carousel .fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut;}
@-webkit-keyframes fadeOut{0%{opacity:1;}
100%{opacity:0;}
}
@keyframes fadeOut{0%{opacity:1;}
100%{opacity:0;}
}
.owl-height{-webkit-transition:height 500ms ease-in-out;-moz-transition:height 500ms ease-in-out;-ms-transition:height 500ms ease-in-out;-o-transition:height 500ms ease-in-out;transition:height 500ms ease-in-out;}
.owl-carousel{display:none;width:100%;-webkit-tap-highlight-color:transparent;position:relative;z-index:1;}
.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;}
.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0px, 0px, 0px);border-radius:10px;}
.large-detail .owl-theme .owl-dots{position:relative;top:-30px;}
.owl-carousel .owl-nav .owl-prev{border-bottom-left-radius:45px;border-top-left-radius:45px;}
.owl-carousel .owl-nav .owl-next{border-bottom-right-radius:45px;border-top-right-radius:45px;}
.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next, .large-detail .owl-carousel .owl-dot{cursor:pointer;display:inline-block;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.large-detail .owl-carousel .owl-dots .active span{color:#000;background:none repeat scroll 0 0 #000000;}
.large-detail .owl-carousel .owl-dot span{background:none repeat scroll 0 0 #ffffff;border-radius:20px;display:block;height:12px;margin:3px 7px;opacity:1;width:12px;}
.owl-carousel.owl-loaded{display:block;}
.owl-carousel.owl-loading{opacity:0;display:block;}
.owl-carousel.owl-hidden{opacity:0;}
.owl-carousel .owl-refresh .owl-item{display:none;}
.owl-carousel .owl-item{position:relative;min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.owl-carousel .owl-item img{display:block;width:100%;height:100%;max-height:220px;min-height:220px;-webkit-transform-style:preserve-3d;}
.owl-carousel.owl-text-select-on .owl-item{-webkit-user-select:auto;-moz-user-select:auto;-ms-user-select:auto;user-select:auto;}
.owl-carousel .owl-grab{cursor:move;cursor:-webkit-grab;cursor:-o-grab;cursor:-ms-grab;cursor:grab;}
.owl-carousel.owl-rtl{direction:rtl;}
.owl-carousel.owl-rtl .owl-item{float:right;}
.no-js .owl-carousel{display:block;}
.owl-carousel .owl-item .owl-lazy{opacity:0;-webkit-transition:opacity 400ms ease;-moz-transition:opacity 400ms ease;-ms-transition:opacity 400ms ease;-o-transition:opacity 400ms ease;transition:opacity 400ms ease;}
.owl-carousel .owl-item img{transform-style:preserve-3d;}
.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000;}
.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url("owl.video.play.png") no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;-webkit-transition:scale 100ms ease;-moz-transition:scale 100ms ease;-ms-transition:scale 100ms ease;-o-transition:scale 100ms ease;transition:scale 100ms ease;}
.owl-carousel .owl-video-play-icon:hover{-webkit-transition:scale(1.3, 1.3);-moz-transition:scale(1.3, 1.3);-ms-transition:scale(1.3, 1.3);-o-transition:scale(1.3, 1.3);transition:scale(1.3, 1.3);}
.owl-carousel .owl-video-playing .owl-video-tn, .owl-carousel .owl-video-playing .owl-video-play-icon{display:none;}
.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;-webkit-background-size:contain;-moz-background-size:contain;-o-background-size:contain;background-size:contain;-webkit-transition:opacity 400ms ease;-moz-transition:opacity 400ms ease;-ms-transition:opacity 400ms ease;-o-transition:opacity 400ms ease;transition:opacity 400ms ease;}
.owl-carousel .owl-video-frame{position:relative;z-index:1;}
.bootstrap-select{width:220px \0;}
.bootstrap-select > .btn{width:100%;padding-right:16px;}
.error .bootstrap-select .btn{border:1px solid #b94a48;}
.control-group.error .bootstrap-select .dropdown-toggle{border-color:#b94a48;}
.bootstrap-select.fit-width{width:auto !important;}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){}
.bootstrap-select .btn:focus{outline:thin dotted #333333 !important;outline:5px auto -webkit-focus-ring-color !important;outline-offset:-2px;}
.bootstrap-select.form-control{margin-bottom:0;padding:0;border:none;}
.bootstrap-select.form-control:not([class*="col-"]){width:100%;}
.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"]{float:none;display:inline-block;margin-left:0;}
.bootstrap-select.btn-group.dropdown-menu-right, .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right, .row-fluid .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right{float:right;}
.form-search .bootstrap-select.btn-group, .form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group{margin-bottom:0;}
.form-group-lg .bootstrap-select.btn-group.form-control, .form-group-sm .bootstrap-select.btn-group.form-control{padding:0;}
.form-inline .bootstrap-select.btn-group .form-control{width:100%;}
.input-append .bootstrap-select.btn-group{margin-left:-1px;}
.input-prepend .bootstrap-select.btn-group{margin-right:-1px;}
.bootstrap-select.btn-group > .disabled{cursor:not-allowed;}
.bootstrap-select.btn-group > .disabled:focus{outline:none !important;}
.bootstrap-select.btn-group .btn .filter-option{display:inline-block;overflow:hidden;width:100%;text-align:left;}
.bootstrap-select.btn-group .btn .caret{position:absolute;top:50%;right:12px;margin-top:-2px;vertical-align:middle;}
.bootstrap-select.btn-group[class*="col-"] .btn{width:100%;}
.bootstrap-select.btn-group .dropdown-menu{min-width:100%;z-index:1035;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;box-shadow:0px 1px 7px rgba(0,0,0,.175);}
.bootstrap-select .dropdown-menu>li>a:hover{background:#af5875;color:#fff;}
.bootstrap-select .dropdown-menu>li>a:hover{background:#000000;color:#fff;}
.bootstrap-select .dropdown-menu>li.selected a{background:#ffffff;color:#000;}
.bootstrap-select .dropdown-menu>li>a{padding:3px 10px;}
.bootstrap-select.btn-group .dropdown-menu.inner{position:static;border:0;padding:0;margin:0;border-radius:0;-webkit-box-shadow:none;box-shadow:none;}
.bootstrap-select.btn-group .dropdown-menu li{position:relative;margin-bottom:0px;}
.bootstrap-select.btn-group .dropdown-menu li.dropdown-header{background:#5f9a02;color:#fff;padding:10px 20px;}
.bootstrap-select .dropdown-menu>li>a{font-size:12px;}
.bootstrap-select .dropdown-menu{border-radius:0px;padding:0px;margin:0px;border-top:none;border-color:#f7f7f7;border:none;}
.bootstrap-select .btn{font-weight:inherit;text-transform:none;font-size:12px;background:#f7f7f7 !important;border:none;height:40px;display:inline-block;min-width:100%;width:100%;color:#696969;}
.bootstrap-select .btn:focus{outline:none !important;}
.bootstrap-select.btn-group{width:100%;display:inline-block;}
.bootstrap-select li a{line-height:30px;}
.bootstrap-select a:focus{outline:none;}
.bootstrap-select .btn-group.open .btn{box-shadow:none !important;}
.btn-group.open .dropdown-toggle{box-shadow:none;}
.bootstrap-select.btn-group .dropdown-menu li:not(.disabled) a:hover small, .bootstrap-select.btn-group .dropdown-menu li:not(.disabled) a:focus small, .bootstrap-select.btn-group .dropdown-menu li.active:not(.disabled) a small{color:#64b1d8;color:rgba(100, 177, 216, 0.4);}
.bootstrap-select.btn-group .dropdown-menu li.disabled a{cursor:not-allowed;}
.bootstrap-select.btn-group .dropdown-menu li a{cursor:pointer;}
.bootstrap-select.btn-group .dropdown-menu li a.opt{position:relative;padding-left:2.25em;}
.bootstrap-select.btn-group .dropdown-menu li a span.check-mark{display:none;}
.bootstrap-select.btn-group .dropdown-menu li a span.text{display:inline-block;}
.bootstrap-select.btn-group .dropdown-menu li small{padding-left:0.5em;}
.bootstrap-select.btn-group .dropdown-menu .notify{position:absolute;bottom:5px;width:96%;margin:0 2%;min-height:26px;padding:3px 5px;background:#f5f5f5;border:1px solid #e3e3e3;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);pointer-events:none;opacity:0.9;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.bootstrap-select.btn-group .no-results{padding:3px;background:#f5f5f5;margin:0 5px;}
.bootstrap-select.btn-group.fit-width .btn .filter-option{position:static;}
.bootstrap-select.btn-group.fit-width .btn .caret{position:static;top:auto;margin-top:-1px;}
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark{position:absolute;display:inline-block;right:15px;margin-top:5px;}
.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text{margin-right:34px;}
.bootstrap-select.show-menu-arrow.open > .btn{z-index:1035 + 1;}
.bootstrap-select.show-menu-arrow .dropdown-toggle:before{content:'';border-left:7px solid transparent;border-right:7px solid transparent;border-bottom-width:7px;border-bottom-style:solid;border-bottom-color:#cccccc;border-bottom-color:rgba(204, 204, 204, 0.2);position:absolute;bottom:-4px;left:9px;display:none;}
.bootstrap-select.show-menu-arrow .dropdown-toggle:after{content:'';border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid white;position:absolute;bottom:-4px;left:10px;display:none;}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before{bottom:auto;top:-3px;border-bottom:0;border-top-width:7px;border-top-style:solid;border-top-color:#cccccc;border-top-color:rgba(204, 204, 204, 0.2);}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after{bottom:auto;top:-3px;border-top:6px solid white;border-bottom:0;}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before{right:12px;left:auto;}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after{right:13px;left:auto;}
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:before, .bootstrap-select.show-menu-arrow.open > .dropdown-toggle:after{display:block;}
.bs-searchbox, .bs-actionsbox{padding:4px 8px;}
.bs-actionsbox{float:left;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.bs-actionsbox .btn-group button{width:50%;}
.bs-searchbox + .bs-actionsbox{padding:0 8px 4px;}
.bs-searchbox input.form-control{margin-bottom:0;width:100%;border:1px solid #c1c1c1;}
.mobile-device{position:absolute;top:0;left:0;display:block !important;width:100%;height:100% !important;opacity:0;}
.noUi-target, .noUi-target *{-webkit-touch-callout:none;-webkit-user-select:none;-ms-touch-action:none;-ms-user-select:none;-moz-user-select:none;-moz-box-sizing:border-box;box-sizing:border-box;}
.noUi-base{width:97%;height:100%;position:relative;}
.noUi-origin{position:absolute;right:0;top:0;left:0;bottom:0;}
.noUi-handle{position:relative;z-index:0;}
.noUi-stacking .noUi-handle{z-index:10;}
.noUi-stacking + .noUi-origin{*z-index:-1;}
.noUi-state-tap .noUi-origin{-webkit-transition:left 0.3s, top 0.3s;transition:left 0.3s, top 0.3s;}
.noUi-state-drag *{cursor:inherit !important;}
.noUi-horizontal{height:4px;width:100%;position:relative;}
.noUi-horizontal .noUi-handle{width:34px;height:28px;left:0px;top:-2px;}
.noUi-horizontal.noUi-extended{padding:0 15px;}
.noUi-horizontal.noUi-extended .noUi-origin{right:-15px;}
.noUi-vertical{width:18px;}
.noUi-vertical .noUi-handle{width:28px;height:34px;left:-6px;top:-17px;}
.noUi-vertical.noUi-extended{padding:15px 0;}
.noUi-vertical.noUi-extended .noUi-origin{bottom:-15px;}
.noUi-background{background-color:#ebebeb;}
.noUi-base .noUi-background{background:none;}
.noUi-dragable{cursor:w-resize;}
.noUi-vertical .noUi-dragable{cursor:n-resize;}
.noUi-handle{cursor:pointer;}
.noUi-handle:after{left:17px;}
.noUi-vertical .noUi-handle:before, .noUi-vertical .noUi-handle:after{width:14px;height:1px;left:6px;top:14px;}
.noUi-vertical .noUi-handle:after{top:17px;}
[disabled].noUi-connect, [disabled] .noUi-connect{background:#B8B8B8;}
[disabled] .noUi-handle{cursor:not-allowed;}
.sidebar-nav.cost-price{margin-bottom:70px;}
.cost-price-content{display:inline-block;position:relative;}
.cost-price-content .noUi-handle-lower, .cost-price-content .noUi-handle-upper{height:16px;width:16px;border-radius:50%;background-color:#f1f3f8;border:1px solid #dde1eb;}
.cost-price-content .noUi-base .noUi-connect, .cost-price-content .noUi-base .noUi-background{position:absolute;top:-4px;}
.price-min, .price-max{position:absolute;margin-top:15px;font-size:14px;color:#515151;}
.price-min{left:0;}
.price-max{right:0;}
.cost-price-content .noUi-handle-lower, .cost-price-content .noUi-handle-upper{background-color:#000;border:2px solid #a0a0a0;}
.ui-helper-hidden{display:none;}
.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none;}
.ui-helper-clearfix:before, .ui-helper-clearfix:after{content:"";display:table;border-collapse:collapse;}
.ui-helper-clearfix:after{clear:both;}
.ui-helper-clearfix{min-height:0;}
.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0);}
.ui-front{z-index:100;}
.ui-state-disabled{cursor:default !important;}
.ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat;}
.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%;}
.ui-resizable{position:relative;}
.ui-resizable-handle{position:absolute;font-size:0.1px;display:block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle{display:none;}
.ui-resizable-n{cursor:n-resize;height:7px;width:100%;top:-5px;left:0;}
.ui-resizable-s{cursor:s-resize;height:7px;width:100%;bottom:-5px;left:0;}
.ui-resizable-e{cursor:e-resize;width:7px;right:-5px;top:0;height:100%;}
.ui-resizable-w{cursor:w-resize;width:7px;left:-5px;top:0;height:100%;}
.ui-resizable-se{cursor:se-resize;width:12px;height:12px;right:1px;bottom:1px;}
.ui-resizable-sw{cursor:sw-resize;width:9px;height:9px;left:-5px;bottom:-5px;}
.ui-resizable-nw{cursor:nw-resize;width:9px;height:9px;left:-5px;top:-5px;}
.ui-resizable-ne{cursor:ne-resize;width:9px;height:9px;right:-5px;top:-5px;}
.ui-button{display:inline-block;position:relative;padding:0;line-height:normal;margin-right:.1em;cursor:pointer;vertical-align:middle;text-align:center;overflow:visible;}
.ui-button, .ui-button:link, .ui-button:visited, .ui-button:hover, .ui-button:active{text-decoration:none;}
.ui-button-icon-only{width:2.2em;}
button.ui-button-icon-only{width:2.4em;}
.ui-button-icons-only{width:3.4em;}
button.ui-button-icons-only{width:3.7em;}
.ui-button .ui-button-text{display:block;line-height:normal;}
.ui-button-text-only .ui-button-text{padding:.4em 1em;}
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text{padding:.4em;text-indent:-9999999px;}
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text{padding:.4em 1em .4em 2.1em;}
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text{padding:.4em 2.1em .4em 1em;}
.ui-button-text-icons .ui-button-text{padding-left:2.1em;padding-right:2.1em;}
input.ui-button{padding:.4em 1em;}
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon{position:absolute;top:50%;margin-top:-8px;}
.ui-button-icon-only .ui-icon{left:50%;margin-left:-8px;}
.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary{left:.5em;}
.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary{right:.5em;}
.ui-buttonset{margin-right:7px;}
.ui-buttonset .ui-button{margin-left:0;margin-right:-.3em;}
input.ui-button::-moz-focus-inner, button.ui-button::-moz-focus-inner{border:0;padding:0;}
.ui-datepicker{width:17em;padding:.2em .2em 0;display:none;}
.ui-datepicker .ui-datepicker-header{position:relative;padding:.2em 0;background:#3dc5df;border-bottom-left-radius:0px;border-bottom-right-radius:0px;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{position:absolute;top:0px;width:1.8em;height:1.8em;}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover{top:0px;}
.ui-datepicker .ui-datepicker-prev:before{content:'\f104';font-family:'FontAwesome';font-size:20px;left:8px;top:3px !important;color:#fff;position:absolute;}
.ui-datepicker .ui-datepicker-next{position:absolute;right:0px;}
.ui-datepicker .ui-datepicker-next:before{content:'\f105';font-family:'FontAwesome';font-size:20px;right:8px;top:3px;color:#fff;position:absolute;}
.ui-datepicker .ui-datepicker-next .ui-icon{position:absolute;right:0px;top:0px !important;}
.ui-datepicker .ui-datepicker-prev-hover{}
.ui-datepicker .ui-datepicker-next-hover{}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{}
.ui-datepicker .ui-datepicker-title{margin:0 2.3em;line-height:1.8em;text-align:center;}
.ui-datepicker .ui-datepicker-title select{font-size:1em;}
.ui-datepicker select.ui-datepicker-month-year{width:100%;}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{width:49%;}
.ui-datepicker table{width:100%;font-size:.9em;border-collapse:collapse;margin:0 0 .4em;}
.ui-datepicker th{padding:.7em .3em;text-align:center;font-weight:bold;border:0;}
.ui-datepicker td{border:0;padding:1px;}
.ui-datepicker td span, .ui-datepicker td a{display:block;padding:.2em;text-align:right;text-decoration:none;}
.ui-datepicker .ui-datepicker-buttonpane{background-image:none;margin:.7em 0 0 0;padding:0 .2em;border-left:0;border-right:0;border-bottom:0;}
.ui-datepicker .ui-datepicker-buttonpane button{float:right;margin:.5em .2em .4em;cursor:pointer;padding:.2em .6em .3em .6em;width:auto;overflow:visible;}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{float:left;}
.ui-datepicker.ui-datepicker-multi{width:auto;}
.ui-datepicker-multi .ui-datepicker-group{float:left;}
.ui-datepicker-multi .ui-datepicker-group table{width:95%;margin:0 auto .4em;}
.ui-datepicker-multi-2 .ui-datepicker-group{width:50%;}
.ui-datepicker-multi-3 .ui-datepicker-group{width:33.3%;}
.ui-datepicker-multi-4 .ui-datepicker-group{width:25%;}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header{border-left-width:0;}
.ui-datepicker-multi .ui-datepicker-buttonpane{clear:left;}
.ui-datepicker-row-break{clear:both;width:100%;font-size:0;}
.ui-datepicker-rtl{direction:rtl;}
.ui-datepicker-rtl .ui-datepicker-prev{right:2px;left:auto;}
.ui-datepicker-rtl .ui-datepicker-next{left:2px;right:auto;}
.ui-datepicker-rtl .ui-datepicker-prev:hover{right:1px;left:auto;}
.ui-datepicker-rtl .ui-datepicker-next:hover{left:1px;right:auto;}
.ui-datepicker-rtl .ui-datepicker-buttonpane{clear:right;}
.ui-datepicker-rtl .ui-datepicker-buttonpane button{float:left;}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current, .ui-datepicker-rtl .ui-datepicker-group{float:right;}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header{border-right-width:0;border-left-width:1px;}
.ui-widget{font-family:Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;font-size:1.1em;}
.ui-widget .ui-widget{font-size:1em;}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{font-family:Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;font-size:1em;}
.ui-widget-content{border:1px solid #647382;background:#fff;color:#333333;}
.ui-widget-content a{color:#333333;}
.ui-widget-header{color:#ffffff;font-weight:bold;}
.ui-widget-header a{color:#ffffff;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{border:1px solid #cccccc;background:#fff;font-weight:normal;color:#647382;text-align:center;}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{color:#1c94c4;text-decoration:none;}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{background-position:0 0;}
.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited{color:#c77405;text-decoration:none;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{border:1px solid #333333;background:#333333;font-weight:bold;color:#fff;}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{color:#eb8f00;text-decoration:none;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{border:1px solid #3dc5df;background:#3dc5df;color:#fff;}
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a{color:#363636;}
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error{border:1px solid #cd0a0a;background:#b81900 url(images/ui-bg_diagonals-thick_18_b81900_40x40.png) 50% 50% repeat;color:#ffffff;}
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a{color:#ffffff;}
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text{color:#ffffff;}
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary{font-weight:bold;}
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:normal;}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none;}
.ui-state-disabled .ui-icon{filter:Alpha(Opacity=35);}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl{border-top-left-radius:4px;}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr{border-top-right-radius:4px;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl{border-bottom-left-radius:4px;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{border-bottom-right-radius:4px;}
.ui-widget-overlay{background:#666666 url(images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat;opacity:.5;filter:Alpha(Opacity=50);}
.ui-widget-shadow{margin:-5px 0 0 -5px;padding:5px;background:#000000 url(images/ui-bg_flat_10_000000_40x100.png) 50% 50% repeat-x;opacity:.2;filter:Alpha(Opacity=20);border-radius:5px;}
.mfp-bg{top:0;left:0;width:100%;height:100%;z-index:1042;overflow:hidden;position:fixed;background:#0b0b0b;opacity:0.8;filter:alpha(opacity=80);}
.mfp-wrap{top:0;left:0;width:100%;height:100%;z-index:1043;position:fixed;outline:none !important;-webkit-backface-visibility:hidden;}
.mfp-container{text-align:center;position:absolute;width:100%;height:100%;left:0;top:0;padding:0 8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.mfp-container:before{content:'';display:inline-block;height:100%;vertical-align:middle;}
.mfp-align-top .mfp-container:before{display:none;}
.mfp-content{position:relative;display:inline-block;vertical-align:middle;margin:0 auto;text-align:left;z-index:1045;}
.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content{width:100%;cursor:auto;}
.mfp-ajax-cur{cursor:progress;}
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close{cursor:-moz-zoom-out;cursor:-webkit-zoom-out;cursor:zoom-out;}
.mfp-zoom{cursor:pointer;cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in;}
.mfp-auto-cursor .mfp-content{cursor:auto;}
.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter{-webkit-user-select:none;-moz-user-select:none;user-select:none;}
.mfp-loading.mfp-figure{display:none;}
.mfp-hide{display:none !important;}
.mfp-preloader{color:#cccccc;position:absolute;top:50%;width:auto;text-align:center;margin-top:-0.8em;left:8px;right:8px;z-index:1044;}
.mfp-preloader a{color:#cccccc;}
.mfp-preloader a:hover{color:white;}
.mfp-s-ready .mfp-preloader{display:none;}
.mfp-s-error .mfp-content{display:none;}
button.mfp-close, button.mfp-arrow{overflow:visible;cursor:pointer;background:transparent;border:0;-webkit-appearance:none;display:block;outline:none;padding:0;z-index:1046;-webkit-box-shadow:none;box-shadow:none;}
button::-moz-focus-inner{padding:0;border:0;}
.mfp-close{width:30px;height:30px;line-height:30px;position:absolute;right:0px;top:0px;text-decoration:none;text-align:center;opacity:1;filter:alpha(opacity=65);padding:0 0 18px 10px;color:white;font-style:normal;font-size:28px;background:#fff !important;border-radius:50%;font-family:Arial, Baskerville, monospace;}
.mfp-close:hover, .mfp-close:focus{opacity:1;filter:alpha(opacity=100);}
.mfp-close:active{}
.mfp-close-btn-in .mfp-close{color:#333333;}
.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close{color:white;right:-6px;text-align:right;padding-right:6px;width:100%;}
.mfp-counter{position:absolute;top:0;right:0;color:#cccccc;font-size:12px;line-height:18px;}
.mfp-arrow{position:absolute;opacity:0.65;filter:alpha(opacity=65);margin:0;top:50%;margin-top:-55px;padding:0;width:90px;height:110px;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
.mfp-arrow:active{margin-top:-54px;}
.mfp-arrow:hover, .mfp-arrow:focus{opacity:1;filter:alpha(opacity=100);}
.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a{content:'';display:block;width:0;height:0;position:absolute;left:0;top:0;margin-top:35px;margin-left:35px;border:medium inset transparent;}
.mfp-arrow:after, .mfp-arrow .mfp-a{border-top-width:13px;border-bottom-width:13px;top:8px;}
.mfp-arrow:before, .mfp-arrow .mfp-b{border-top-width:21px;border-bottom-width:21px;opacity:0.7;}
.mfp-arrow-left{left:0;}
.mfp-arrow-left:after, .mfp-arrow-left .mfp-a{border-right:17px solid white;margin-left:31px;}
.mfp-arrow-left:before, .mfp-arrow-left .mfp-b{margin-left:25px;border-right:27px solid #3f3f3f;}
.mfp-arrow-right{right:0;}
.mfp-arrow-right:after, .mfp-arrow-right .mfp-a{border-left:17px solid white;margin-left:39px;}
.mfp-arrow-right:before, .mfp-arrow-right .mfp-b{border-left:27px solid #3f3f3f;}
.mfp-iframe-holder{padding-top:40px;padding-bottom:40px;}
.mfp-iframe-holder .mfp-content{line-height:0;width:100%;max-width:900px;}
.mfp-iframe-holder .mfp-close{top:-40px;}
.mfp-iframe-scaler{width:100%;height:0;overflow:hidden;padding-top:56.25%;}
.mfp-iframe-scaler iframe{position:absolute;display:block;top:0;left:0;width:100%;height:100%;box-shadow:0 0 8px rgba(0, 0, 0, 0.6);background:black;}
img.mfp-img{width:auto;max-width:100%;height:auto;display:block;line-height:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:40px 0 40px;margin:0 auto;}
.mfp-figure{line-height:0;}
.mfp-figure:after{content:'';position:absolute;left:0;top:40px;bottom:40px;display:block;right:0;width:auto;height:auto;z-index:-1;box-shadow:0 0 8px rgba(0, 0, 0, 0.6);background:#444444;}
.mfp-figure small{color:#bdbdbd;display:block;font-size:12px;line-height:14px;}
.mfp-figure figure{margin:0;}
.mfp-bottom-bar{margin-top:-36px;position:absolute;top:100%;left:0;width:100%;cursor:auto;}
.mfp-title{text-align:left;line-height:18px;color:#f3f3f3;word-wrap:break-word;padding-right:36px;}
.mfp-image-holder .mfp-content{max-width:100%;}
.mfp-gallery .mfp-image-holder .mfp-figure{cursor:pointer;}
@media screen and (max-width:800px) and (orientation:landscape), screen and (max-height:300px){.mfp-img-mobile .mfp-image-holder{padding-left:0;padding-right:0;}
.mfp-img-mobile img.mfp-img{padding:0;}
.mfp-img-mobile .mfp-figure:after{top:0;bottom:0;}
.mfp-img-mobile .mfp-figure small{display:inline;margin-left:5px;}
.mfp-img-mobile .mfp-bottom-bar{background:rgba(0, 0, 0, 0.6);bottom:0;margin:0;top:auto;padding:3px 5px;position:fixed;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.mfp-img-mobile .mfp-bottom-bar:empty{padding:0;}
.mfp-img-mobile .mfp-counter{right:5px;top:3px;}
.mfp-img-mobile .mfp-close{top:0;right:0;width:35px;height:35px;line-height:35px;background:rgba(0, 0, 0, 0.6);position:fixed;text-align:center;padding:0;}
}
@media all and (max-width:900px){.mfp-arrow{-webkit-transform:scale(0.75);transform:scale(0.75);}
.mfp-arrow-left{-webkit-transform-origin:0;transform-origin:0;}
.mfp-arrow-right{-webkit-transform-origin:100%;transform-origin:100%;}
.mfp-container{padding-left:6px;padding-right:6px;}
}
.mfp-ie7 .mfp-img{padding:0;}
.mfp-ie7 .mfp-bottom-bar{width:600px;left:50%;margin-left:-300px;margin-top:5px;padding-bottom:5px;}
.mfp-ie7 .mfp-container{padding:0;}
.mfp-ie7 .mfp-content{padding-top:44px;}
.mfp-ie7 .mfp-close{top:0;right:0;padding-top:0;}
.my-mfp-zoom-in .zoom-anim-dialog{opacity:0;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;-webkit-transform:scale(0.8);-moz-transform:scale(0.8);-ms-transform:scale(0.8);-o-transform:scale(0.8);transform:scale(0.8);}
.pop-open-style{padding:0px;text-align:left;max-width:400px;margin:0px auto;position:relative;border-radius:0px;}
.pop-open-style{color:#000000;}
.pop-open-style p{color:#6b6b6b;}
.pop-open-style .pop_up{background:white;position:relative;overflow:hidden;padding:20px;border-radius:4px;}
.pop-open-style li{}
.pop-open-style li span{display:inline-block;}
.pop-open-style li span:nth-child(2){width:15%;border-left:1px solid #e86a5d;padding-left:10px;}
.pop-open-style li span:nth-child(3){width:20%;padding:0 10px;border-left:1px solid #e86a5d;border-right:1px solid #e86a5d;}
.pop-open-style li span:nth-child(4){width:33px;float:right;margin-top:3px;}
.pop-open-style li span:nth-child(4) i{width:33px;height:33px;text-align:center;line-height:33px;background:#fff;border-radius:4px;font-size:20px;}
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog{opacity:1;-webkit-transform:scale(2);-moz-transform:scale(2);-ms-transform:scale(2);-o-transform:scale(2);transform:scale(2);}
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog{-webkit-transform:scale(0.8);-moz-transform:scale(0.8);-ms-transform:scale(0.8);-o-transform:scale(0.8);transform:scale(0.8);opacity:0;}
.my-mfp-zoom-in.mfp-bg{opacity:0;-webkit-transition:opacity 0.3s ease-out;-moz-transition:opacity 0.3s ease-out;-o-transition:opacity 0.3s ease-out;transition:opacity 0.3s ease-out;}
.my-mfp-zoom-in.mfp-ready.mfp-bg{opacity:0.8;}
.my-mfp-zoom-in.mfp-removing.mfp-bg{opacity:0;}
.my-mfp-slide-bottom .zoom-anim-dialog{opacity:0;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;-webkit-transform:translateY(-20px) perspective(600px) rotateX(10deg);-moz-transform:translateY(-20px) perspective(600px) rotateX(10deg);-ms-transform:translateY(-20px) perspective(600px) rotateX(10deg);-o-transform:translateY(-20px) perspective(600px) rotateX(10deg);transform:translateY(-20px) perspective(600px) rotateX(10deg);}
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog{opacity:1;-webkit-transform:translateY(0) perspective(600px) rotateX(0);-moz-transform:translateY(0) perspective(600px) rotateX(0);-ms-transform:translateY(0) perspective(600px) rotateX(0);-o-transform:translateY(0) perspective(600px) rotateX(0);transform:translateY(0) perspective(600px) rotateX(0);}
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog{opacity:0;-webkit-transform:translateY(-10px) perspective(600px) rotateX(10deg);-moz-transform:translateY(-10px) perspective(600px) rotateX(10deg);-ms-transform:translateY(-10px) perspective(600px) rotateX(10deg);-o-transform:translateY(-10px) perspective(600px) rotateX(10deg);transform:translateY(-10px) perspective(600px) rotateX(10deg);}
.my-mfp-slide-bottom.mfp-bg{opacity:0;-webkit-transition:opacity 0.3s ease-out;-moz-transition:opacity 0.3s ease-out;-o-transition:opacity 0.3s ease-out;transition:opacity 0.3s ease-out;}
.my-mfp-slide-bottom.mfp-ready.mfp-bg{opacity:0.8;}
.my-mfp-slide-bottom.mfp-removing.mfp-bg{opacity:0;}
.image-source-link{color:#98C3D1;}
.mfp-with-zoom .mfp-container, .mfp-with-zoom.mfp-bg{opacity:0;-webkit-backface-visibility:hidden;-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}
.mfp-with-zoom.mfp-ready .mfp-container{opacity:1;}
.mfp-with-zoom.mfp-ready.mfp-bg{opacity:0.8;}
.mfp-with-zoom.mfp-removing .mfp-container, .mfp-with-zoom.mfp-removing.mfp-bg{opacity:0;}
.mfp-image-holder .mfp-close{background:none !important;}
.mfp-arrow-right:before{border:none;}
.mfp-arrow-right:after{border:none;content:"\f105";font-family:FontAwesome;margin-right:0px;color:#fff;padding:0px;padding:0px 13px;float:right;font-size:30px;}
.mfp-arrow-left:before{border:none;}
.mfp-arrow-left:after{border:none;content:"\f104";font-family:FontAwesome;margin-right:0px;color:#fff;padding:0px;padding:0px 13px;float:right;font-size:30px;}
.checkbox{margin:0px 0;}
.checkbox label{display:inline-block;vertical-align:middle;position:relative;padding-left:25px;line-height:19px;}
.checkbox label::before{content:"";display:inline-block;position:absolute;width:17px;height:17px;left:0;margin-left:0;border:1px solid #000000;border-radius:0px;background-color:#fff;-webkit-transition:border 0.15s ease-in-out, color 0.15s ease-in-out;-o-transition:border 0.15s ease-in-out, color 0.15s ease-in-out;transition:border 0.15s ease-in-out, color 0.15s ease-in-out;}
.checkbox label::after{display:inline-block;position:absolute;width:16px;height:16px;left:0;background:#5f9a02;top:0;margin-left:0px;padding-left:3px;border:0;padding-top:1px;font-size:11px;color:#ffffff;line-height:15px;}
.checkbox input[type="checkbox"], .checkbox input[type="radio"]{opacity:0;z-index:1;}
.checkbox input[type="checkbox"]:checked + label::after, .checkbox input[type="radio"]:checked + label::after{font-family:"FontAwesome";content:"\f00c";}
.checkbox input[type="checkbox"]:disabled + label, .checkbox input[type="radio"]:disabled + label{opacity:0.65;}
.checkbox input[type="checkbox"]:disabled + label::before, .checkbox input[type="radio"]:disabled + label::before{background-color:#eeeeee;cursor:not-allowed;}
.checkbox.checkbox-circle label::before{border-radius:50%;}
.checkbox.checkbox-inline{margin-top:0;}
.checkbox-primary input[type="checkbox"]:checked + label::before, .checkbox-primary input[type="radio"]:checked + label::before{background-color:#337ab7;border-color:#337ab7;}
.checkbox-primary input[type="checkbox"]:checked + label::after, .checkbox-primary input[type="radio"]:checked + label::after{color:#fff;}
.checkbox-danger input[type="checkbox"]:checked + label::before, .checkbox-danger input[type="radio"]:checked + label::before{background-color:#d9534f;border-color:#d9534f;}
.checkbox-danger input[type="checkbox"]:checked + label::after, .checkbox-danger input[type="radio"]:checked + label::after{color:#fff;}
.checkbox-info input[type="checkbox"]:checked + label::before, .checkbox-info input[type="radio"]:checked + label::before{background-color:#5bc0de;border-color:#5bc0de;}
.checkbox-info input[type="checkbox"]:checked + label::after, .checkbox-info input[type="radio"]:checked + label::after{color:#fff;}
.checkbox-warning input[type="checkbox"]:checked + label::before, .checkbox-warning input[type="radio"]:checked + label::before{background-color:#f0ad4e;border-color:#f0ad4e;}
.checkbox-warning input[type="checkbox"]:checked + label::after, .checkbox-warning input[type="radio"]:checked + label::after{color:#fff;}
.checkbox-success input[type="checkbox"]:checked + label::before, .checkbox-success input[type="radio"]:checked + label::before{background-color:#5cb85c;border-color:#5cb85c;}
.checkbox-success input[type="checkbox"]:checked + label::after, .checkbox-success input[type="radio"]:checked + label::after{color:#fff;}
#rating .checkbox{margin:0px 0;}
#rating .checkbox label{display:inline-block;width:180px;vertical-align:middle;position:relative;padding-left:25px;line-height:19px;}
#rating .checkbox label::before{content:"";display:inline-block;position:absolute;width:17px;height:17px;left:0;margin-left:0;border:1px solid #000000;border-radius:0px;background-color:#fff;-webkit-transition:border 0.15s ease-in-out, color 0.15s ease-in-out;-o-transition:border 0.15s ease-in-out, color 0.15s ease-in-out;transition:border 0.15s ease-in-out, color 0.15s ease-in-out;}
#rating .checkbox label::after{display:inline-block;position:absolute;width:16px;height:16px;left:0;background:#5f9a02;top:0;margin-left:0px;padding-left:3px;border:0;padding-top:1px;font-size:11px;color:#ffffff;line-height:15px;}
#rating .checkbox input[type="checkbox"], .checkbox input[type="radio"]{opacity:0;z-index:1;}
#rating .checkbox input[type="checkbox"]:checked + label::after, .checkbox input[type="radio"]:checked + label::after{font-family:"FontAwesome";content:"\f00c";}
#rating .checkbox input[type="checkbox"]:disabled + label, .checkbox input[type="radio"]:disabled + label{opacity:0.65;}
#rating .checkbox input[type="checkbox"]:disabled + label::before, .checkbox input[type="radio"]:disabled + label::before{background-color:#eeeeee;cursor:not-allowed;}
#rating .checkbox.checkbox-circle label::before{border-radius:50%;}
#rating .checkbox.checkbox-inline{margin-top:0;}
#rating .checkbox-primary input[type="checkbox"]:checked + label::before, .checkbox-primary input[type="radio"]:checked + label::before{background-color:#337ab7;border-color:#337ab7;}
#rating .checkbox-primary input[type="checkbox"]:checked + label::after, .checkbox-primary input[type="radio"]:checked + label::after{color:#fff;}
#rating .checkbox-danger input[type="checkbox"]:checked + label::before, .checkbox-danger input[type="radio"]:checked + label::before{background-color:#d9534f;border-color:#d9534f;}
#rating .checkbox-danger input[type="checkbox"]:checked + label::after, .checkbox-danger input[type="radio"]:checked + label::after{color:#fff;}
#rating .checkbox-info input[type="checkbox"]:checked + label::before, .checkbox-info input[type="radio"]:checked + label::before{background-color:#5bc0de;border-color:#5bc0de;}
#rating .checkbox-info input[type="checkbox"]:checked + label::after, .checkbox-info input[type="radio"]:checked + label::after{color:#fff;}
#rating .checkbox-warning input[type="checkbox"]:checked + label::before, .checkbox-warning input[type="radio"]:checked + label::before{background-color:#f0ad4e;border-color:#f0ad4e;}
#rating .checkbox-warning input[type="checkbox"]:checked + label::after, .checkbox-warning input[type="radio"]:checked + label::after{color:#fff;}
#rating .checkbox-success input[type="checkbox"]:checked + label::before, .checkbox-success input[type="radio"]:checked + label::before{background-color:#5cb85c;border-color:#5cb85c;}
#rating .checkbox-success input[type="checkbox"]:checked + label::after, .checkbox-success input[type="radio"]:checked + label::after{color:#fff;}
.radio{padding-left:20px;}
.radio label{display:inline-block;vertical-align:middle;position:relative;padding-left:5px;}
.radio label::before{content:"";display:inline-block;position:absolute;width:17px;height:17px;left:0;margin-left:-20px;border:1px solid #cccccc;border-radius:50%;background-color:#fff;-webkit-transition:border 0.15s ease-in-out;-o-transition:border 0.15s ease-in-out;transition:border 0.15s ease-in-out;}
.radio label::after{display:inline-block;position:absolute;content:" ";width:11px;height:11px;left:3px;top:3px;margin-left:-20px;border-radius:50%;background-color:#555555;-webkit-transform:scale(0, 0);-ms-transform:scale(0, 0);-o-transform:scale(0, 0);transform:scale(0, 0);-webkit-transition:-webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);-moz-transition:-moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);-o-transition:-o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);transition:transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);}
.radio input[type="radio"]{opacity:0;z-index:1;}
.radio input[type="radio"]:focus + label::before{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.radio input[type="radio"]:checked + label::after{-webkit-transform:scale(1, 1);-ms-transform:scale(1, 1);-o-transform:scale(1, 1);transform:scale(1, 1);}
.radio input[type="radio"]:disabled + label{opacity:0.65;}
.radio input[type="radio"]:disabled + label::before{cursor:not-allowed;}
.radio.radio-inline{margin-top:0;}
.radio-primary input[type="radio"] + label::after{background-color:#337ab7;}
.radio-primary input[type="radio"]:checked + label::before{border-color:#337ab7;}
.radio-primary input[type="radio"]:checked + label::after{background-color:#337ab7;}
.radio-danger input[type="radio"] + label::after{background-color:#d9534f;}
.radio-danger input[type="radio"]:checked + label::before{border-color:#d9534f;}
.radio-danger input[type="radio"]:checked + label::after{background-color:#d9534f;}
.radio-info input[type="radio"] + label::after{background-color:#5bc0de;}
.radio-info input[type="radio"]:checked + label::before{border-color:#5bc0de;}
.radio-info input[type="radio"]:checked + label::after{background-color:#5bc0de;}
.radio-warning input[type="radio"] + label::after{background-color:#f0ad4e;}
.radio-warning input[type="radio"]:checked + label::before{border-color:#f0ad4e;}
.radio-warning input[type="radio"]:checked + label::after{background-color:#f0ad4e;}
.radio-success input[type="radio"] + label::after{background-color:#5cb85c;}
.radio-success input[type="radio"]:checked + label::before{border-color:#5cb85c;}
.radio-success input[type="radio"]:checked + label::after{background-color:#5cb85c;}
input[type="checkbox"].styled:checked + label:after, input[type="radio"].styled:checked + label:after{font-family:'FontAwesome';content:"\f00c";}
input[type="checkbox"] .styled:checked + label::before, input[type="radio"] .styled:checked + label::before{color:#fff;}
input[type="checkbox"] .styled:checked + label::after, input[type="radio"] .styled:checked + label::after{color:#fff;}