@media(min-width:1400px) and (max-width:1920px) {
.about-us .about-feat .media .media-body .w{
		width: 800px;
	}
.home{
	display: none;
}
.fixed-bar-m{display:none;}	
.fixed-bar-m-home{display:none;}

.team-over li .over-team {
	padding: 50px;
}

.list-style li img {
    width: 100%;
    height: 100%;
    max-height: 260px;
    min-height: 260px;
}

header nav .ownmenu li.search-nav{display:none !important;}

.animate .desktop{display:block;}
.animate .mobile{display:none;}

.container .desktop{display:block;}
.container .mobile{display:none;}

.service_pht{display:none;}
}
@media(min-width:1200px) and (max-width:1400px) {
.about-us .about-feat .media .media-body .w{
		width: 800px;
	}
.home{
	display: none;
}
	
.list-style li img {
    width: 100%;
    height: 100%;
    max-height: 260px;
    min-height: 260px;
}
	
.fixed-bar-m{display:none;}	
.fixed-bar-m-home{display:none;}

header nav .ownmenu li.search-nav{display:none !important;}	

.animate .desktop{display:block;}
.animate .mobile{display:none;}

.container .desktop{display:block;}
.container .mobile{display:none;}

.service_pht{display:none;}

header .logo {
	margin: 40px 0px;
}
.in-the-look li .inn-look {
	padding: 0 10px;
}
.in-the-look li .inn-look {
	top: 20%;
}
.in-the-look li:hover .inn-look {
	top: 10%;
}
.furniture-large .position-center-center {
	width: 90%;
}
}
@media(max-width:1200px) {
.furniture-large .position-center-center {
	width: 90%;
}

}
@media(max-width:1024px) {
}
@media(min-width:992px) and (max-width:1199px) {
.about-us .about-feat .media .media-body .w{
		width: 800px;
	}
.home{
	display: none;
}
.list-style li img {
    width: 100%;
    height: 100%;
    max-height: 210px;
    min-height: 210px;
}
	
.list-style .youtube-btn{display:none;}

.fixed-bar-m{display:none;}	
.fixed-bar-m-home{display:none;}
	
.tittle-p h4:before{height:52px;}
.tittle-t h4:before{height:52px;}

header nav .ownmenu li.search-nav{display:none !important;}	

.animate .desktop{display:block;}
.animate .mobile{display:none;}

.container .desktop{display:block;}
.container .mobile{display:none;}

#sidebar.sticky{width:100%;max-width:210px;}
.side-bar{margin-top:108px;}

.service_pht{display:none;}

.list-style .details-sec{width:100%;}
.list-style .seller_rating{width:100%;margin-bottom: 0;margin-top: 0;}
.list-style li .data{width:100%; display:none;}
.list-style li .location{width:100%; margin-top:0;}
.list-style .item-btn-com{margin-top:10px;}
.half-width{width:50%;}

.list-style .item-btn-com .btn-dark{font-size:12px;padding: 13px 13px;margin-left: 0;}

.verified{width:20%;}
.popurlar_hotel .full-width{width:50%; padding:0 10px; margin-bottom:10px;}
.popurlar_hotel .details-sec{padding:0 10px;}
.popurlar_hotel .stars{padding:0 10px;}
.popurlar_hotel .h_category{padding:0 10px;}
.popurlar_hotel .seller_rating{padding:0 10px; margin-bottom: 10px;}
.popurlar_hotel .h_location{padding:0 10px; width:100%;}
.popurlar_hotel .price{width:100%; padding:0 10px;}

.shades .all-category{width:800px !important;}
.shades .service_category{width:800px !important;}
	
.in-the-look li {
	width: 33.3333%;
}
.in-the-look li .inn-look {
	padding: 0 10px;
}
.popurlar_product .over-item {
	padding-top: 4%;
}
.popurlar_product .details-sec a {
	letter-spacing: 0px;
}
.small-r-items .btn {
	letter-spacing: 0px;
}
.small-r-items .media {
	width: 100%;
	float: left;
	padding-right: 15px;
	position: relative;
	z-index: 2;
	margin-bottom: 20px;
}
.small-r-items h5 {
	width: 100%;
	margin-top: 30px;
	text-align: center;
}
.small-r-items .item-img {
	width: 120px;
}
.port-folio-row li .hover-port {
	padding-top: 10%;
}
.furniture .items-fer li {
	width: 33.3333%;
}
header .search-nav ul.dropdown {
	width: 100% !important;
}
.header-style-2.header-style-3 .logo {
	margin: 20px 0;
	width: 100%;
	text-align: center;
}
.header-style-2.header-style-3 nav {
	margin-top: 20px;
}
.header-style-2.header-style-3 nav {
	width: 100%;
}
}
@media(min-width:768px) and (max-width:991px) {
	.about-us .about-feat .media .media-body .w{
		width: 800px;
	}
	.home{
	display: none;
}
.testimonial{
	margin-top: 40px !important;
}
.testimonial .testi .comment{
	width: 540px;
}
.testimonial .avatar{
	width: 150px;
	height: 150px;
}
.list-style li img {
    width: 100%;
    height: 100%;
    max-height: 308px;
    min-height: 308px;
}
.list-style li .opertes {
	float: left;
	width: 70%;
	margin: 0;
	line-height: 16px;
	margin-top: 0px;
	margin-bottom: 10px;
	text-overflow:ellipsis; overflow: hidden; width:300px; white-space: nowrap;
}
	
.fixed-bar-m{display:none;}
.fixed-bar-m-home{display:none;}

header nav .ownmenu li.search-nav{display:none !important;}
	
.animate .desktop{display:block;}
.animate .mobile{display:none;}

.container .desktop{display:block;}
.container .mobile{display:none;}	

#sidebar.sticky{width:100%;max-width:157px;/* top: 88px !important; */}

.margin_bottom{margin-bottom:20px;}

.content_search{box-shadow: 0 0 1px #0000002e;}
#page-wrap{margin-top:0; box-shadow:none;}
.why_tripitoes{margin-top:130px;}
.service_pht{display:none;}

.shades .all-category{width:720px !important;}
.shades .service_category{width:720px !important;}


.scrtabs-tabs-fixed-container{width: 92% !important;}
.list-style .img{border-bottom-left-radius: 0;}
.list-style .details-sec{width:100%;}
.list-style .seller_rating{width:100%;margin-top: 0;}
.list-style li .data{width:100%; display:none;}
.list-style li .hotel{width:100%;}
.list-style li .location{width:100%; margin-top: 10px;}
.list-style li .h-location{width:100%; margin-top: 10px;}
.list-style li .web{width:100%; margin-top: 0px; margin-bottom:0}
.list-style li .h-price{width:100%; margin-top: 10px;}
.list-style .youtube-btn{display:none;}
.half-width{width:100%; margin-bottom:10px;}
.list-style .item-btn-com{margin-top: 10px;}

.item-detail-page .review { margin-top: 40px;}
.item-decribe{margin-top:40px;}
.popurlar_product .over-item{top: 40%;}

.text-right{text-align:left; margin-top: 40px;}
.verified { width: 20%;float: right;}
.popurlar_hotel .h_category{margin-bottom: 5px;}
.popurlar_hotel .seller_rating{margin-bottom:10px;}
.popurlar_hotel .full-width{margin-top: 0px;}
.btn-dark{margin-top: 0;}


.tittle-p h4:before{display:none;}
.tittle-h h4:before{display:none;}
.tittle-t h4:before{display:none;}

.f-links li {float: left; margin: 0 18px;}

.in-the-look li {
	width: 50%;
}
.popurlar_product .details-sec a {letter-spacing: 0px; font-size: 16px;}
.popurlar_product li {
	width: 50%;
}
.list-style li {
	width: 100%;
}
.small-r-items .media {
	width: 50%;
	float: left;
	padding-right: 15px;
	position: relative;
	z-index: 2;
}
.small-r-items h5 {
	width: 100%;
	margin-top: 30px;
	text-align: center;
}
.small-r-items .item-img {
	width: 120px;
}
.port-folio-row li {
	width: 50%;
}
.furniture .items-fer li {
	width: 33.3333%;
}
header nav .ownmenu li {
	float: left;
}
header .search-nav ul.dropdown {
	width: 100% !important;
}
header .ownmenu .look-book .nav-img {
	width: 70px;
	margin-right: 10px;
}
header .ownmenu .look-book .media-heading {
	margin-top: 0px;
	margin-bottom: 10px;
}
header .ownmenu li > .megamenu li a {
	padding: 5px 0
}
header .ownmenu .look-book p {
}
header .ownmenu > li > .megamenu.full-width {
	padding: 30px;
}
header .ownmenu .look-book .media-body a {
	padding: 5px 0 0 0px;
}
header .ownmenu > li > .megamenu.full-width .nav-post .col-sm-3 {
	width: 50%;
}
header .ownmenu .megamenu h6 {
	margin-top: 20px;
}
header .ownmenu ul.dropdown li a {
	letter-spacing: 1px;
}
.ownmenu ul.dropdown, .ownmenu ul.dropdown li ul.dropdown {
	width: 200px;
}
.ownmenu ul.dropdown li a {
	padding-left: 0;
}
header .ownmenu .look-book .media {
	padding-bottom: 10px;

}
.header-style-2.header-style-3 .logo {
	margin: 20px 0;
	width: 100%;
	text-align: center;
}
.header-style-2.header-style-3 nav {
	margin-top: 20px;
}
.header-style-2.header-style-3 nav {
	width: 100%;
}
}

/*@media(min-width:720px) and (max-width:767px){.popurlar_product .over-item{height:48%;}}
@media(min-width:660px) and (max-width:719px){.popurlar_product .over-item{height:50%;}}
@media(min-width:630px) and (max-width:659px){.popurlar_product .over-item{height:52%;}}
@media(min-width:600px) and (max-width:629px){.popurlar_product .over-item{height:36%;}}
@media(min-width:550px) and (max-width:599px){.popurlar_product .over-item{height:34%;}}
@media(min-width:520px) and (max-width:549px){.popurlar_product .over-item{height:36%;}}
@media(min-width:480px) and (max-width:519px){.popurlar_product .over-item{height:38%;}}
@media(min-width:450px) and (max-width:479px){.popurlar_product .over-item{height:40%;}}
@media(min-width:410px) and (max-width:449px){.popurlar_product .over-item{height:43%;}}
@media(min-width:380px) and (max-width:409px){.popurlar_product .over-item{height:52%;}}
@media(min-width:350px) and (max-width:379px){.popurlar_product .over-item{height:54%;}}
@media(min-width:318px) and (max-width:349px){.popurlar_product .over-item{height:60%;}}*/

@media(max-width:767px) {
.purechat-collapsed-image{
	bottom: 140px !important;
}

.conact-us-2 .boxes-in li{
	margin-bottom: 0px;
}
.conact-us-2 .boxes-in .location i{
	margin-bottom: 0px;
	
}
.about-us .about-feat .media .media-left{
	width: 15% !important;
}

.about-us .about-feat .media .media-body p{
	font-family:'Montserrat', sans-serif;
	font-style: normal;
}
footer {
    background: #272727;
    padding: 50px 0; 
}
.item-detail-page .title {
    margin-right: 10px;
    line-height: 24px;
    float: left;
}
.search-main .search-box {
    background: #f7f7f7;
    letter-spacing: 2px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    font-size: 12px;
}

.blog-page .tittle-post {
    font-size: 24px;
    margin-top: 18px;
    line-height: 20px;
    margin-bottom: 20px;
    color: #272727;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}
.blog-page .post-tittle {
    font-size: 24px;
    margin-top: 18px;
    line-height: 20px;
    margin-bottom: 20px;
    color: #272727;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}
.list-style li .t-location{float:left; padding-left:1px; width: 100%;margin: 0;line-height: 16px;margin-top: 0px;     text-overflow: ellipsis;
    overflow: hidden;
    
    white-space: nowrap;}
.list-style li .t-location .ion-ios-location-outline::before{
	font-size: 14px;
}
.list-style li .t-location {
	font-size: 10px;
}
.item-detail-page .add {
    float: left;
    font-size: 12px;
    color: #000;
}	
.home-slider{display:none;}
.tooltiptext{display:none;}

.hotelData{display:none !important;}
.dasktopverify{display:none !important;}
.mobileverify{display:block !important;}
.item-detail-page .add-data {
	font-size: 12px !important;
}

.responseive{display:block !important;}
.popurlar_hotel .h_category{
	margin-bottom: 2px;
}
.item-detail-page p {
	font-size: 12px;
	line-height: 16px;
	word-break: break-word;
}

.item-detail-page .seller-info p {
    font-size: 12px;
    line-height: 16px;
    word-break: break-all;
}

.list-style li img {
    width: 100%;
    height: 100%;
    max-height: 152px;
    min-height: 152px;
}

.list-style li .seller-name{display:none;}
 

.item-detail-page .share-with li .btn-dark-big {
	color: #ffffff;
	border: 1px solid #5f9a02;
	background: #5f9a02;
	line-height: 10px;
	font-size:12px;
	padding: 13px 26px;
	border-radius: 4px;
	float: left;
}

.item-detail-page .share-with li .btn-dark-big:hover{
    color: #5f9a02;
    border: 1px solid #5f9a02;
    background: #fff;
    line-height: 10px;
	font-size:12px;
    padding: 13px 26px;
    border-radius: 4px;
}

.tp-banner-fix{height:400px !important;}

.best_deals {display:none;}

.item-decribe {
    margin-top: 40px;
    float: left;
}

.testimonial .avatar{margin:auto;float:none;margin-bottom: 10px;}

.section-p-30px{padding: 10px 0px;}	
	
.testimonial .owl-nav .owl-prev{right: inherit;left: 0;}
.testimonial .owl-nav .owl-next{right: 0%; left: inherit;}	
	
.testimonial .testi .comment{width:100%; margin-left: 0px;}

.testimonial{float: left; margin-top:40px;}	
	
.list-style .items-in{margin-bottom: 10px;}	
	
.list-style .item-btn-com a{line-height:12px;margin-bottom: 15px;width: 40px;}

.list-style .item-btn-com a:last-child{margin-bottom:0;}
	
.fixed-bar-m{display:block;}

.search-main .btn_search{width:100%;}	

header .language {
 display:none;
}

.top-links{width: 275px;margin:auto;float:none;}

.top-links ul li:first-child {margin-left:0}

header .ownmenu > li.shop-cart i{/* border: 1px solid #5f9a02; */background: #ffffff;color: #5f9a02;}

header .ownmenu > li.shop-cart i:before{font-size:30px}

header .shop-cart .numb{padding-left:0px; padding-top:2px}

.popurlar_product .over-item{padding-bottom: 10px;margin-bottom: 142px;height: auto;}	

.transport .over-item{padding-bottom: 10px;margin-bottom: 125px;height: auto;}	

.animate .desktop{display:none;}
.animate .mobile{display:block;}

.container .desktop{display:none;}
.container .mobile{display:block;}

.margin_bottom{margin-bottom:20px;}
.content_search{box-shadow: 0 0 1px #0000002e;}
#page-wrap{margin-top:0; box-shadow:none; display: none;}
.why_tripitoes{margin-top: 30px; margin-bottom:30px;}
.service_category {margin: auto; margin-top: 30px; width: 200px; height:inherit;}
.service_pht{margin-bottom:40px; margin-top: 20px; height: 115px; overflow-y: auto; text-align: center;}



.all-category{display:none;}

.list-style .img{border-top-left-radius: 6px;border-top-right-radius: 0;border-bottom-left-radius: 6px;}
.list-style .details-sec span{font-size:16px;}
.list-style li .h-location span{font-size: 10px; line-height: 12px; color:#A7A7A7;}
.list-style .details-sec{width:100%;padding: 0;margin-top: 10px;}
.list-style .seller_rating{width:100%;margin-bottom: 10px;margin-top: 0px;padding: 0;}
.list-style .stars{width:100%;font-size: 10px;line-height: 12px;float: left;}
.list-style li .data{width:100%;padding: 0;}

.list-style li .h-data{width:100%;padding: 0;margin-top: 10px;}

.list-style li .t_cat{margin-top: 5px;}
.list-style li .opertes{width:100%;padding: 0;}

.list-style li .country{display:none;}

.list-style li .hotel{width:100%;padding: 0;display: none;}
.list-style li .location{width:100%; padding: 0;display: none;}

.list-style li .h-location .ion-ios-location-outline:before{
	font-size: 8px;
}

.list-style .h-location {
    font-size: 8px;
    margin-top: 0px !important;
    text-overflow: ellipsis;
    padding-left: 1px !important;
    line-height: 10px !important;
    overflow: hidden;
    width: 170px;
    white-space: nowrap;
}

.list-style li .h-location{width:100%;padding: 0;margin-top: 0;font-size: 12px;}
.list-style li .h-location font{display:none;}
.list-style li .h-location a{font-size: 13px;}
.list-style li .web{display:none;}
.list-style .youtube-btn{display:none;}
.list-style li .price{width:100%;padding: 0;font-size: 14px;margin-top: 15px !important;}
.list-style li .h-price {
    font-size: 13px;
    color: #000;
    font-weight: 100;
    float: left;
    width: 100%;
    margin-top: 0;
    line-height: 16px;
}
.half-width{width: 50%;margin-bottom:10px;}
.list-style .item-btn-com{margin-top: 14px;margin-bottom: 0;padding: 0 10px 0 0px;}

.item-detail-page .con-info{float:left;margin-right: 20px;}
.item-detail-page .youtube-btn{float:left}
.item-detail-page .review{margin-top:40px;}
.item-decribe{margin-top:40px;}

.tittle-p{margin-bottom:0; margin-top:0px;}
.tittle-h{margin-bottom:0; margin-top:0px;}
.tittle-t{margin-bottom:0; margin-top:0px;}

.tittle-p h4:before{display:none;}
.tittle-h h4:before{display:none;}
.tittle-t h4:before{display:none;}

.tittle-p h4:after{display:none;}
.tittle-h h4:after{display:none;}
.tittle-t h4:after{display:none;}

.new-arri-w-slide .popurlar_product .owl-nav .owl-prev{left: -22px; top: 0px;background: #fff; width: 16px; height: 25px; line-height: 28px;}
.new-arri-w-slide .popurlar_product .owl-nav .owl-next{right: -22px; top: 0px;background: #fff; width: 16px; height: 25px; line-height: 28px;}

.new-arri-w-slide .popurlar_hotel .owl-nav .owl-prev{left: -22px; background: #fff; width: 16px; height: 25px; line-height: 28px;}
.new-arri-w-slide .popurlar_hotel .owl-nav .owl-next{right: -22px; background: #fff; width: 16px; height: 25px; line-height: 28px;}

.btn-list{float:left; margin-top: 20px; background: #f0f8ff00;}
.container .mobile .btn-list{float:left;margin-top: 0px;padding: 0;line-height: 10px;color: #5f9a02;
	    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
}

.text-right{text-align:left; margin-top: 40px;}

.verified { width: 14%;float: right; padding-right: 20px;}

.popurlar_hotel .details-sec{padding:0 10px;}

.popurlar_hotel .details-sec a{border-bottom:1px solid #ebebeb; padding-bottom:10px; margin-bottom:10px;text-overflow:ellipsis; overflow: hidden; width:100%; white-space: nowrap;}
.popurlar_hotel .stars{padding:0 10px;}
.popurlar_hotel .h_category{padding:0 10px;}
.popurlar_hotel .seller_rating{padding-left:10px;}
.popurlar_hotel .h_location{width:100%; padding:0 10px;}
.popurlar_hotel .price{padding:0 10px;}
.popurlar_hotel .full-width{padding:0 10px;margin-bottom: 10px;}

header .is-sticky .sticky{padding-top:0;}

.ownmenu > li.showhide span.icon {
	color: #272727;
	padding: 0px;
	margin: 0px;
	width: 100%;
	text-align: right;
	font-size: 25px;
}
.ownmenu > li.showhide {
	float: right;
	width: 8%;
}
header .ownmenu > li.shop-cart {
	width: 50px;
	float: right !important;
	right: 50px;
	margin-top: 15px;
}
header .ownmenu > li.shop-cart a {
	width: auto;
}
header .ownmenu > li.shop-cart .indicator {
	display: none;
}
header .ownmenu .megamenu h6 {
	margin-top: 20px;
	display: inline-block;
	width: 100%;
}
header .ownmenu > li > .megamenu.full-width {
	padding: 30px;
}
.shop-cart {
	display: block !important;
	position: absolute !important;
	top: 0px;
	right: 0px;
}
header .ownmenu > li.search-nav {
	width: 50px;
	float: left;
	left: 0px;
	margin-top: 16px;
	left: 0px;
	/* margin: 0 auto !important; */
	width: 152px;
}
header .ownmenu > li.search-nav a {
	width: auto;
	padding-top: 3px;
}
header .ownmenu > li.search-nav .indicator {
	display: none;
}
.search-nav {
	display: block !important;
	position: absolute !important;
	top: 10px;
	right: 0px;
}
header .shop-cart ul.dropdown {
	margin-top: 2px;
}
header .search-nav ul.dropdown {
	margin-left: -150px;
	margin-top: 7px;
}
.ownmenu > li.showhide {
	height: auto;
	margin: 0px;
	padding: 0px;
	line-height: 60px;
	height: 60px;
}
header.header-2 nav {
	padding-top: 0px;
	text-align: left;
	background: #fff;
}
header .logo {
	display: inline-block;
	width: 100%;

	margin: 20px 0;
}
header nav {
	float: none;

	width: 100%;
}
header nav .ownmenu .indicator {
	display: block;
}
header nav li a {
	display: inline-block;
	width: 100%;
	float: none;
}
header .nav-img {
	display: none !important;
}
.ownmenu > li.showhide span {
	line-height: 60px;
	display: inline-block;
	width: 100%;
}
.ownmenu > li.showhide span.title {
	margin: 0px;
}
.ownmenu > li > a {
	padding: 10px 0;
	text-align: left;
}
.ownmenu .indicator {
	display: block;
}
header .ownmenu ul.dropdown {
    float: right;
}
.collection-adds li {
	width: 50%;
	float: left;
	margin-bottom: 30px;
}
.add_block_2 li {
	margin-bottom: 30px
}
.blog-posts .info {
	margin-bottom: 0px;
}

footer .f-links {
    width: 332px;
    margin: auto;
	float:none;
}

.f-links li {
    float: left;
    margin: 0 10px;
    margin-top: 10px;
}

footer .footer-link h5 {
	margin-bottom: 0px;
	margin-top: 30px;
	margin-bottom: 20px;
}
p.intro-small {
	width: 100%;
}
.subcribe h4 {
	width: 100%;
	margin-bottom: 20px;
}
.subcribe {
	text-align: center;
}
.subcribe .col-md-7 {
	width: 100%;
}
.new-arrival .popurlar_product li {
	width: 50%;
	float: left;
}

.in-the-look li {
	width: 50%;
}
#contact_form li {
	margin-bottom: 10px;
}
.our-clients p.intro {
	width: 100%;
}
.services li .icon {
	margin-bottom: 10px;
}
.services li {
	margin-bottom: 30px;
}

.small-r-items .btn {
	letter-spacing: 0px;
}
.small-r-items .media {
	width: 50%;
	float: left;
	display: inline-block;
	padding-right: 15px;
	position: relative;
	z-index: 2;
	margin-bottom: 20px;
}
.small-r-items h5 {
	width: 100%;
	margin-top: 30px;
	text-align: center;
}
.small-r-items .item-img {
	width: 120px;
}
.shades .tittle p {
	width: 100%;
}
.port-folio-row li {
	width: 50%;
	float: left;
	display: inline-block;
}
.port-folio-row li .hover-port {
	padding-top: 18%;
}
.news-letter .news-letter-form {
	width: 100%;
}
.testimonial-simple .media {
	margin-bottom: 30px;
}
.construction .services-style-2 ul li {
	width: 50%;
	float: left;
}
.tittle-cont p {
	width: 100%;
}
.team ul li {
	margin-bottom: 30px;
}
.latest-news .read-more {
	margin-bottom: 30px;
}
.testimonial .testi {
	width: 100%;
}

.testimonial .owl-nav .owl-prev {
	top: 12%;
}
.testimonial .owl-nav .owl-next {
	top: 12%;
}
.quote {
	text-align: center;
}
.quote h4 {
	width: 100%;
	text-align: center;
	line-height: 30px;
}
.quote .btn {
	margin-top: 20px;
	float: none;
}
.portfolio .col-3 li {
	width: 100%;
	margin-bottom: 30px;
}
.construction .filter li {
	padding: 0px 10px;
}
.construction .filter li a {
	font-size: 12px;
	padding: 0px;
}
.furniture .items-fer li {
	width: 50%;
}
.list-style li .col-sm-4 {
	/*width: 100% !important;
	float: left !important;*/
}
.list-style li .col-sm-8 {
	/*width: 100% !important;
	float: left !important;*/
}
.header-style-2.header-style-3 .logo {
	width: 100%;
	display: none;
}
.header-style-2.header-style-3 nav {
	width: 100%;
	float: none;
}
.header-style-2.header-style-3 nav {
	margin-top: 0;
}
.header-style-2.header-style-3 nav li {
	float: none;
}
.header-style-2.header-style-3 nav li.showhide {
	float: right;
	margin-top: 5px;
}
.header-style-2.header-style-3 .search-nav ul.dropdown {
	width: 320px !important;
}
}

@media (max-width:700px) {
.list-style li .t-location .ion-ios-location-outline::before{
	font-size: 14px;
}
.list-style li .t-location {
	font-size: 10px;
}
 .popurlar_hotel .details-sec a{border-bottom:1px solid #ebebeb; padding-bottom:10px; margin-bottom:10px;text-overflow:ellipsis; overflow: hidden; width:100%; white-space: nowrap;}

.list-style li .t_cat{margin-top: 0px;margin-bottom: 0;}
.list-style li .h-price {
    font-size: 13px;
    color: #000;
    font-weight: 100;
    float: left;
    width: 100%;
    margin-top: 0;
    line-height: 12px;
}

.list-style .item-btn-com {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0 10px 0 0px;
}

.list-style .item-btn-com a {
    line-height: 12px;
    margin-bottom: 5px;
    width: 40px;
}

.list-style li .price {
    width: 100%;
    padding: 0;
    font-size: 14px;
    margin-top: 10px !important;
}
.list-style .seller_rating {
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0;
}

}

 @media (max-width:640px) {
.list-style li .t-location .ion-ios-location-outline::before{
	font-size: 14px;
}
.list-style li .t-location {
	font-size: 10px;
}
.list-style li .t_cat{margin-top: 0;margin-bottom: 0px;}
.list-style li .h-price {
    font-size: 11px;
    color: #000;
    font-weight: 100;
    float: left;
    width: 100%;
    margin-top: 0;
    line-height: 10px;
}
 
.list-style li img {
    width: 100%;
    height: 100%;
    max-height: 120px;
    min-height: 120px;
}
	 
.list-style li .h-location a {
    font-size: 12px;
}

.contactno .tooltipmobile{margin-left:-42px; width:110px;}

.list-style .item-btn-com a .ion-ios-heart-outline{padding: 3px 0px;line-height: 20px;width: 28px;}
 
.list-style .item-btn-com a .ion-ios-heart-outline:before{font-size: 16px;line-height: 16px;width: 27px;}

.list-style .item-btn-com a .ion-ios-bookmarks-outline{padding: 3px 0px;line-height: 20px;width: 28px;}

.list-style .item-btn-com a .ion-ios-bookmarks-outline:before{font-size: 16px;line-height: 16px;width: 27px;}

.list-style .item-btn-com a .ion-information{padding: 3px 0px;line-height: 20px;width: 28px;}

.list-style .item-btn-com a .ion-information:before{font-size: 16px;line-height: 16px;padding: 5px 5px;width: 28px;}

.list-style .item-btn-com a .ion-ios-telephone-outline{padding: 3px 0px;line-height: 20px;width: 28px;}

.list-style .item-btn-com a .ion-ios-telephone-outline:before{font-size: 16px;line-height: 16px;width: 27px;}

.list-style .seller_rating .seller-icon{font-size: 24px;line-height: 28px;margin-right: 5px;}

.list-style .seller_rating .s-rate {
    font-size: 14px;
    line-height:10px;
}

.list-style .seller_rating .s-rate{font-size:14px;padding: 0;}

.list-style .seller_rating .s-text{font-size: 12px;line-height: 12px;}

.padding-right{/* padding-right:0; */}


.list-style .hot-tag{font-size:8px;width: 90px;}
 	
.list-style .details-sec span{font-size: 14px;text-overflow: ellipsis;overflow: hidden;width: 170px;white-space: nowrap;}

.list-style li .h-data{font-size: 10px;text-overflow: ellipsis;overflow: hidden;width: 220px;margin-top: 0px;line-height: 12px;white-space: nowrap;float: left;}
.list-style li p span {
	line-height:12px;
}
.list-style li .data{font-size: 10px;text-overflow: ellipsis;overflow: hidden;width: 100%;white-space: nowrap;}

.list-style li .opertes{font-size: 10px;}

.list-style li .h-location .ion-ios-location-outline:before{font-size:12px}

.list-style li .price{font-size: 12px;margin-top: 8px !important;}

.animate .desktop{display:none;}
.animate .mobile{display:block;}	

.container .desktop{display:none;}
.container .mobile{display:block;} 

.list-style .item-btn-com{margin-top: 12px;width: 50%;padding: 0 10px 0 0px;}

.list-style .item-btn-com a {
    margin-bottom: 10px;
    width: 28px;
}

.list-style .item-btn-com a:last-child{margin-bottom:0;}

.half-width{width:100%;}
.seller-detail .details::before {
right: 10px !important;
left: initial;
}
.seller-detail .details{/* right: 95px; */}
.verified {width: 30%;}

.call{font-size:24px;}

.item-decribe{margin-top:40px;}



	 
.seasonals ul li {
	width: 100%;
}
.construction .services-style-2 ul li {
	width: 100%;
	margin-top: 20px;
}
.top-bar {
	height: auto;
}
header .language {
	width: 100%;
	display: none;
	text-align: center;
}
.top-links {
	/* float: left; */
	/* width: 100%; */
	text-align: center;
}
.top-links li {
	float: none;
	display: inline-block;
}
.top-links ul {
	width: 100%;
}
.top-links .social_icons {
	position: absolute;
	right: 0px;
	top: 0px;
	width: auto;
}

.ownmenu > li.showhide {

    float: right;
    width: 10%;
}
}




@media (max-width:590px) {
.list-style li .t_cat{margin-top: 0px;}
.list-style li .h-price {
    font-size: 11px;
    color: #000;
    font-weight: 100;
    float: left;
    width: 100%;
    margin-top: 0;
    line-height: 8px;
}

.list-style li img {
    width: 100%;
    height: 100%;
    max-height: 110px;
    min-height: 110px;
}
	
.why_tripitoes h6 {
	font-weight: 300;
	font-size: 12px;
}
.proccess h6 {
	font-size: 12px;
	padding: 0 30px;
}

.list-style .details-sec {
    width: 100%;
    padding: 0;
    margin-top: 6px;
}

.list-style li .price {
    font-size: 12px;
    margin-top: 8px !important;
}

.list-style .item-btn-com {
    margin-top: 6px;
    width: 50%;
    padding: 0 10px 0 0px;
}
	
}

@media(max-width:540px) {
.list-style li .t-location .ion-ios-location-outline::before{
	font-size: 14px;
}
.list-style li .t-location {
	font-size: 10px;
}

.popurlar_hotel .details-sec a{border-bottom:1px solid #ebebeb; padding-bottom:10px; margin-bottom:10px;text-overflow:ellipsis; overflow: hidden; width:100%; white-space: nowrap;}

.list-style li .t_cat {
    margin-top: 2px;
}
.list-style li .h-price {
    font-size: 11px;
    color: #000;
    font-weight: 100;
    float: left;
    width: 100%;
    margin-top: 0;
    line-height: 8px;
}

.list-style li .h-location{
	margin-top: 0px !important;
	font-size: 9px;
}
.list-style .stars{
	margin: 0px 0;
	line-height: 8px;
}
	
.list-style li img {
    width: 100%;
    height: 100%;
    max-height: 90px;
    min-height: 90px;
}

.right {
    font-size: 10px;
    line-height: 18px;
}
.size{font-size:12px}

.breadcrumb{font-size:8px;margin-top: 10px;}

.item-detail-page h3{font-size:18px;}
.seller-detail .details {
	width: max-content !important;
	right: 0 !important;
	left: inherit;
}
.seller-detail .details p:first-child{line-height:16px;font-size: 12px;color:#4eb6ff;}
.seller-detail .details p{line-height:18px;}
.seller-detail .details p span{font-size: 10px !important;color: #000 !important;}

.list-style .details-sec {
    width: 100%;
    padding: 0;
    margin-top: 8px;
}	

.list-style .hot-tag {
    font-size: 8px;
    width: 70px;
    top: 10px;
    line-height: 16px;
    height: 16px;
    padding:0 5px;
}

.list-style .item-btn-com a span{font-size:8px;color: #000;width: 90px;}

.seller-detail .details .add-data{color:#000; font-size:10px}

.contactno .tooltipmobile{margin-left: -34px;font-size: 8px !important;}

.list-style .item-btn-com {
    margin-top: 7px;
    width: 50%;
    padding: 0 10px 0 0px;
}

.list-style .item-btn-com a {
    margin-bottom: 4px;
    line-height: 6px;
    width: 28px;
}

.list-style .item-btn-com a:last-child{margin-bottom:0;}

.list-style .details-sec .verified {
    width: 19%;
    float: left;
    padding-right: 0;
}

.list-style .details-sec span{font-size: 11px;margin-right: 0px;text-overflow: ellipsis;overflow: hidden;width: 130px;white-space: nowrap;}

.list-style .seller_rating{margin: 3px 0px;line-height: 0;margin-bottom: 0px;}
.list-style .seller_rating .seller-icon {
    font-size: 10px;
    width: 15px;
    line-height: 12px;
    margin-right: 0px;
}

.list-style .seller_rating .s-rate {
    width: 64px;
    font-size: 14px;
    line-height:8px;
}

.list-style .seller_rating .s-text {
	width: 96px;
	font-size: 7px;
	padding-left: 2px;
	line-height: 10px;
}
.list-style li p span {
	line-height:12px;
}
.list-style li .h-data {
    font-size: 8px;
    line-height: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 190px;
    white-space: nowrap;
    float: left;
}

.list-style li .data {
    font-size: 8px;
    line-height: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}

.list-style li .opertes{
	font-size: 8px;
	line-height: 16px;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100%;
	margin-bottom: 0;
	white-space: nowrap;
	}

.list-style li .price {
    font-size: 11px;
    margin-top: 5px !important;
}

.list-style li font{display:none;}

.animate .desktop{display:none;}
.animate .mobile{display:block;}

.container .desktop{display:none;}
.container .mobile{display:block;}

.view-num p{font-size:12px}

.short-by{float: right;width: 58%;}

.short-by .bootstrap-select.btn-group{width: 180px;}

.short-by .bootstrap-select .btn{font-size: 12px;padding: 0 5px;}

.call{font-size:20px;}

.item-decribe form li ul a{width:100%;margin:0;margin-bottom: 10px;padding: 10px 0;}
.item-decribe{margin-top:40px;}
	
.small-r-items .media {
	width: 100%;
}
.small-r-items .item-img {
	width: 150px;
}
.port-folio-row li {
	width: 100%;
	float: left;
	display: inline-block;
}
.news-letter .news-letter-form {
	width: 100%;
}
.subcribe .sub-mail button {
	margin: 0px;
	width: 100%;
	margin: 0 auto;
	float: none;
	height: 60px;
	margin-top: 10px;
	padding: 10px 0px;
	background-color: #272727;
	color: #fff;
	border: 2px solid rgb(39, 39, 39);
}
.furniture .items-fer li {
	width: 100%;
}
.list-style li .col-sm-4 {
	/* width: 100%; */
	/* float: left; */
}


.list-style li .col-sm-8 {
	/* width: 100%; */
	/* float: left; */
}
.list-style .details-sec a {
	margin-top: 20px;
	line-height: 12px;
}

.ownmenu > li.showhide {
    float: right;
    width: 10%;
}

}

@media(max-width:490px) {
.popurlar_hotel .details-sec a{border-bottom:1px solid #ebebeb; padding-bottom:10px; margin-bottom:10px;text-overflow:ellipsis; overflow: hidden; width:100%; white-space: nowrap;}

.list-style li img {
    width: 100%;
    height: 100%;
    max-height: 80px;
    min-height: 80px;
}

.boxes-in h1 {
    font-size: 18px;
    margin-top: 0;
    width: 320px;
    margin: auto;
    margin-bottom: auto;
    margin-bottom: 5px;
}

.boxes-in p {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 16px;
    margin: 0px;
    margin-bottom: 0px;
    letter-spacing: 0px;
    margin-bottom: 10px;
}
	
.list-style li .h-location a {
    font-size: 9px;
}

.item-detail-page .verified {
    width: 18%;
    float: left;
    line-height: 26px;
    padding-right: 15px;
}
	
.list-style .details-sec {
    width: 100%;
    padding: 0;
    margin-top: 3px;
}	

.list-style li .price {
    font-size: 11px;
    margin-top: 2px !important;
    line-height: 14px;
}

.list-style .item-btn-com {
    margin-top: 3px;
    width: 50%;
    padding: 0 10px 0 0px;
}

}

@media(max-width:440px) {
.list-style li .t-location .ion-ios-location-outline::before{
	font-size: 14px;
}
.list-style li .t-location {
	font-size: 10px;
}
.list-style li .opertes{ margin-top: 0px;}
.boxes-in h1 {
    font-size: 18px;
    margin-top: 0;
    width: 320px;
    margin: auto;
    margin-bottom: auto;
    margin-bottom: 5px;
}

.boxes-in p {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 16px;
    margin: 0px;
    margin-bottom: 0px;
    letter-spacing: 0px;
    margin-bottom: 10px;
}

.list-style li .t_cat{margin-top: 0px;}

.list-style .seller_rating .s-text {
    width: 64px;
    font-size: 7px;
    padding-left: 2px;
    line-height: 10px;
}

.list-style li .h-price {
    font-size: 11px;
    color: #000;
    font-weight: 100;
    float: left;
    width: 100%;
    margin-top: 0;
    line-height: 0;
}
.list-style li img {
    width: 100%;
    height: 100%;
    max-height: 70px;
    min-height: 70px;
}

.container .mobile .btn-list{font-size:12px; padding-top: 4px;}

.list-style li .h-location{
	text-overflow: ellipsis;
	overflow: hidden;
	width: 150px;
	white-space: nowrap;
	line-height: 14px;
}
.list-style li .h-location span{
	font-size: 9px;
	color: #A7A7A7;
}
.list-style li p span {
	line-height: 6px;
}
.list-style li .h-data {
    font-size: 8px;
    line-height: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    float: left;
    margin-bottom: 2px;
}

.list-style li .data {
    font-size: 8px;
    line-height: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 140px;
    white-space: nowrap;
}

	
.list-style .item-btn-com{margin-top: 2px;}
	
.list-style .details-sec {
    width: 100%;
    padding: 0;
    margin-top: 0px;
    /* line-height: 12px; */
}

.list-style li .price {
    font-size: 11px;
    margin-top: 3px !important;
    line-height: 12px;
}

.list-style li font{display:none;}

.list-style .item-btn-com a span{font-size: 6px;}

.list-style .item-btn-com a .ion-ios-heart-outline{padding: 0px 0px;line-height: 19px;width: 22px;}
 
.list-style .item-btn-com a .ion-ios-heart-outline:before{font-size: 14px;line-height: 20px;width: 20px;}

.list-style .item-btn-com a .ion-ios-bookmarks-outline{padding: 2px 0px;line-height: 16px;width: 22px;}

.list-style .item-btn-com a .ion-ios-bookmarks-outline:before{font-size: 12px;line-height: 16px;width: 20px;}

.list-style .item-btn-com a .ion-information{padding: 3px 0px;line-height: 20px;width: 28px;}

.list-style .item-btn-com a .ion-information:before{font-size: 13px;line-height: 16px;padding: 2px 5px;width: 22px;}

.list-style .item-btn-com a .ion-ios-telephone-outline{padding: 0px 0px;line-height: 20px;width: 22px;}

.list-style .item-btn-com a .ion-ios-telephone-outline:before{font-size: 14px;line-height: 14px;width: 20px;}

.short-by {
    float: right;
    width: 52%;
}

.short-by .bootstrap-select.btn-group {
    width: 150px;
}

.popurlar_hotel .price{margin-top:0px;}	

.popurlar_hotel .h_location{display:block;}

.popurlar_hotel .full-width {
    width: 53%;
    margin-bottom: 10px;
}

.popurlar_hotel .full-width a:last-child{margin-right:0}	

.btn-dark{margin-bottom: 10px;margin-left: 0;margin-top: 0;}

.animate .desktop{display:none;}
.animate .mobile{display:block;}

.container .desktop{display:none;}
.container .mobile{display:block;}

.why_tripitoes h4{font-size:18px;}

.best_deals h4{font-size:18px; margin-top: 0;}

.shades h4{font-size:18px;}

.tittle-2 h5{font-size: 24px;}
.tittle-2 h5:before{display:none;}

.tittle-p h4{font-size:18px; letter-spacing: 1px;}
.tittle-h h4{font-size:18px; letter-spacing: 1px;}
.tittle-t h4{font-size:18px; letter-spacing: 1px;}

.list-style .item-btn-com a{font-size:12px;width: 22px;line-height: 8px;margin-bottom: 5px;}
	
.contact-info li {width: 100%;}
.item-decribe{margin-top:40px;}

.call{font-size:18px;}

.shop-page .items li.col-sm-4 {
	width: 100%;
}
.new-arrival .popurlar_product li {
	width: 100%;
}
.in-the-look li {
	width: 100%;
}

.ownmenu > li.showhide {
    float: right;
    width: 10%;
}

}

@media(max-width:398px) {

.list-style li .t-location .ion-ios-location-outline::before{
	font-size: 14px;
}
.list-style li .t-location {
	font-size: 10px;
}
.popurlar_hotel .details-sec a{border-bottom:1px solid #ebebeb; padding-bottom:10px; margin-bottom:10px;text-overflow:ellipsis; overflow: hidden; width:100%; white-space: nowrap;}

.list-style li img {
    width: 100%;
    height: 100%;
    max-height: 80px;
    min-height: 80px;
}

	.padding-right {
    padding-right: 0;
}

.list-style .details-sec {
    width: 100%;
    padding: 0;
    margin-top: 4px;
    line-height: 12px;
}

.list-style .item-btn-com {
    margin-top: 7px;
}

}
@media(max-width:320px) {
}