<!-- CONTENT START -->
  <div class="content"> 
    
	<div class="container">
    <div class="row">
      <div class="col-md-12 animate fadeInRight" data-wow-delay="0.4s"> 
        <!--======= About Us =========-->
        <section class="section-p-30px about-us">
          <div class="sma-hed">
            <h4 style="margin-bottom: 20px;">Privacy Policy</h4>
          </div>
          <div class="about-detail">
			<h5>The categories of Personal Information we collect</h5>
			
			<h6>Platform information</h6>
            <p>When you visit the Platforms, we may collect information from you. Some of it may be
personal information. This information can include search history, IP address, screen
resolution, browser used, operating system and settings, access times and referring URL. If
you are using a mobile device, we may also collect data that identifies your device, your
settings and your location.
            </p>
			<h6>Account information</h6>
			<p>If you choose to register, we will collect your email address, password, and other preference
information you provide us. If you choose a third-party service, like Facebook Login, to
register or login, you are permitting us to use and store that information related to the
account.</p>
			<h6>Trips services</h6>
			<p>If you make a booking on Tripitoes or within our mobile applications, we may automatically
create an account for you, which will give you access to our personalized services, where we
will collect your travel information to create and maintain your travel itineraries etc. This
can include the personal information that may be included in the confirmation emails you
give us access to.</p>
			<h6>Consumer support</h6>
			<p>If you choose to contact our consumer support services we will collect any inquires,
complaint or other information that you may submit to our support team. give us access to.</p>
			<h6>Promotional information</h6>
			<p>If you choose to participate in a sweepstake, contests or similar campaign we will collect any
information you provide in relation to such activity such as photos, images, captions or
other content, in accordance with the terms provided at that time.
When you give us personal information, you are telling us that the information is true,
accurate, complete and current. You are also telling us that you have the authorization to
provide it to us.</p>


			<h5>How we collect your Personal Information</h5>
			
			<h6>Personal information you give to us</h6>
			<p>We collect your personal information directly from you. For example, when you provide us
your personal information when you register, contact our customer support or participate in
a contest or sweepstake.</p>
			<h6>Personal information we collect passively</h6>
			<p>We also collect your personal information passively. For example, we collect information
about you over time and across different Web sites when you visit this Platform. We also
use tracking tools like cookies and beacons. To learn more about these tools and how to
control them, click here.</p>
			<p>Platform features may make use of your device attributes and settings that will allow us to
			determine your physical location. Such technologies may include IP address mapping, WiFi,
			GPS signals, cell tower positioning or other technologies. We use this information to
			enhance and personalize your experience and provide you with offers and services that may
			be of interest to you. For example, we may help you find your closest hotel or send you
			messages that may be of interest to you based on your current location. Tripitoes does not
			have control over your device settings, but we do recommend enabling location services on
			your device so you can take advantage of the location based features and functionality
			offered.</p>
			<h6>Personal information we receive from third parties</h6>
			<p>We collect your personal information from third parties. This can include when you log in
using a third party platform, such as Facebook. In addition, we also integrate third party
software (i.e. Google’s Invisible CAPTCHA) that collects information about users for security
reasons.</p>

			<h5>For what purposes we use your Personal Information</h5>
			<h6>Your personal information may be used in the following ways:</h6>
			<h6>Improving our services</h6>
			<p>To provide you and improve our Platforms and services, to better understand the users of
our Platforms and services, and to protect our property and to prevent damage to them.</p>
			<h6>Bookings</h6>
			<p>We and our travel partners use your personal information to process your bookings and
store your itinerary information where applicable.</p>
			<h6>Marketing activities</h6>
			<p>We use your information for marketing purposes. These activities may include:
			To send you marketing emails from a Tripitoes address regarding our services or those of
			our partners, if you have opted-in to receive emails from us or have transacted with us, and
			as permitted by law. You can easily unsubscribe from these marketing communications at
			any time by clicking on the “Unsubscribe” link included in the newsletter

			To display more relevant advertising and recommendations, or suppress advertising and
			content that you might find irrelevant. This advertising might be shown to you on our
			Platforms as well as third party platforms (including social media sites) and include
			information or offers that we, or our business partners’, believe you will find interesting.
			Individualized advertising may be based on information collected through cookies or other
			tracking technologies. Read more about how you can control tracking tools here

			If you choose to participate in promotional activities (such as sweepstakes, competitions or
			other similar campaigns), relevant information may be used to administer these promotions
			</p>
			
			<h6>To communicate with you, including as follows:</h6>
			<ul>
			<li>To send booking confirmations</li>
			<li>To send alerts and notifications you have subscribed to, including to your mobile device;</li>
			<li>To solicit reviews</li>
			<li>To update you regarding itineraries processed by our Trips service</li>
			<li>To communicate with you if you have contacted Tripitoes consumer support</li>
			<li>To send you information servicing and administrative emails</li>
			<li>To send you information about services, offered by Tripitoes or our business partners, that
			we believe you would be interested in</li>
			</ul>
			
			<h6>Legal purposes</h6>
			<p>In certain cases we may need to use your information to handle and resolve legal disputes,
			for regulatory investigations and compliance or to enforce the terms of use of the service.</p>

			<h6>Performance of a contract</h6>
			<p>The use of your personal information may be necessary to perform the services and provide
			you products that you have requested from us. For example, if you make a booking on our
			Platform, we need to collect personal information from you in order to complete the
			booking</p>

			<h6>Legitimate interest</h6>
			<p>We may use your personal information for our legitimate interests, such as displaying
			relevant advertising and recommendations and for legal purposes</p>
			
			<h6>Consent</h6>
			<p>We may rely on your consent to use your data for certain direct marketing purposes. You
			can withdraw your consent anytime by contacting us or change your settings in your
			account as described below</p>

			<h6>Your Choices</h6>
			<p>You can manage your communication preferences in your account. Marketing email has an
			opt-out URL and you can unsubscribe from such communication at any time. You cannot
			unsubscribe from servicing emails and administrative messages that are considered part of
			your account membership, unless you cancel your membership.</p>
			
			<h5>How we share your Personal Information</h5>
			<h6>Corporate affiliates and change of control</h6>
			<p>We may share your personal information with our corporate affiliates and if Tripitoes itself
			(or part of its business) is sold or otherwise changes control, owners would have access to
			your personal information for the uses set out herein.</p>
			
			<h6>Service providers</h6>
			<p>We may share your personal information with suppliers who perform services on our behalf
			and have agreed in writing to protect and not further disclose your information.</p>
			
			<h6>Payment service providers and travel vendors</h6>
			<p>If you book through the Platforms, we may share your personal information with the
			payment service providers and the travel vendors you have booked with. This can include
			online travel agencies, hotels, airlines, car rental companies, and travel insurance providers.
			These third parties will process your personal information as data controllers in accordance
			with their own privacy policies. If you contact our consumer support, they may need to
			share information about your request with the relevant travel vendor in order to assist you.</p>
			
			<h6>Business partners</h6>
			<p>We may share your personal information with various business partners. Some of these
			business partners may use your personal information for online behavioral advertising
			purposes, or to offer you services or products that we believe you may be interested in. We
			may also share your information as otherwise described to you at the time of collection. For
			example, if you provide information to enter a sweepstakes, we may share your information
			with the promotional partners. We may also share anonymous aggregated usage
			information with partners.</p>
			
			<h6>Information shared in public<h6>
			<p>If you provide us a review of your trip, you authorize us to publish it on all our Platforms
			under the screen name you provided. You also authorize us to aggregate it with other
			reviews.</p>
			
			<h6>Authorities</h6>
			<p>We may disclose personal information if required by law, for example to law enforcement
			or other authorities. This includes court orders, subpoenas and orders arising from legal
			processes, and administrative or criminal investigations. We may also disclose your personal
			information if the disclosure is necessary for the prevention, detection or prosecution of
			criminal acts or to prevent other damage, or in response to a legal action or to enforce our
			rights and claims.</p>
			
			<p>We may also share anonymous aggregated usage information with others.</p>
			
			<h5>How we store and protect your Personal Information</h5>
			<p>
			By providing us personal information, you agree that your personal information may be
			transferred to and stored in different countries. These countries may have different and/or
			less stringent privacy/data protection and data security rules than those of your own
			country. As a result, your personal information may be subject to access requests from
			governments, courts, or law enforcement in those countries according to laws in those
			countries. Subject to the applicable laws in such other countries, we will provide the
			necessary safeguards to maintain protections of your personal information, e.g. by
			obtaining from the data recipients contractual commitments based on the EU model
			clauses.
			
			Tripitoes has a security program intended to keep the personal information stored in our
			systems protected from unauthorized access and misuse. Our systems are configured with
			data encryption, or scrambling technologies and firewalls constructed to industry standards.
			We also use Secure Socket Layer (SSL) technology that protects the data you send over the
			Internet. Personal information may only be accessed by persons within our organizations, or
			our third parties to carry out the uses indicated in this Privacy Policy. In addition,
			information collected by Google’s Invisible CAPTCHA is held in accordance with the Google
			Privacy Policy.
			</p>
			
			<h6>Retention periods</h6>
			<p>We will retain your personal information for as long as your account is active and for a
			period of time thereafter to allow you to re-activate your account without loss of
			information.

			We will also retain your personal information as necessary to comply with our legal
			obligations, resolve disputes and enforce our contracts.</p>
			
			<h5>Cookies and tracking tools</h5>
			<p>Tripitoes uses cookies and tracking tools. To learn more, including how we respond to “Do
			not track” signals click here.</p>
			
			<h6>Other Websites</h6>
			<p>If you click through to third party websites or other platforms, Tripitoes’s privacy policy does not apply.</p>
			<h6>Children</h6>
			<p>Tripitoes does not knowingly collect personal information from minors. If we become aware
			that a minor is attempting to submit personal information, we will remove this information
			from our records. If you are the parent/legal guardian of a minor who has given us personal
			information, please contact us so we can delete it.</p>
			
			<h6>Changes to the Privacy Policy</h6>
			<p>We may modify this Privacy Policy at any time and without prior notice. We will notify you
			of material changes to how we use your personal information prior to implementing them.
			We may notify you about such a material change by email or prominent notice on our
			website. By using our services and Platforms after we post these changes, you indicate you
			accept them.</p>
			
			<h5>Your rights with respect to personal information</h5>
			<p>Before contacting Tripitoes for any request you may have, note that you can manage your
			account settings in the “My Account” page on Tripitoes. You can also delete your account by
			calling us at any time. Your rights:</p>
			
			<p><b>Access:</b> You are entitled at any time to obtain information about your personal information
			that we store, in accordance with applicable law and without any fee. However, in
			exceptional cases we ask you to pay reasonable fee before we provide the information if
			permitted by applicable law</p>
			
			<p><b>Rectification:</b> You may request that we rectify any of your personal information that is
			incomplete or incorrect</p>
			
			<p><b>Deletion:</b> You may request that we delete your account</p>
			
			<p><b>Objection:</b> You may object, at any time, to your personal information being processed for
			direct marketing purposes</p>

			<p><b>Restrictions of processing:</b> You may ask us to cease processing of your personal information
			for example if you have objected to the processing and the existence of legitimate ground is
			still under consideration</p>
			<p><b>Right to withdraw consent:</b> You have the right to withdraw your consent at any time,
			without affecting the lawfulness of our processing based on such consent before it was
			withdrawn</p>
			
			<p>We may request proof of your identity before acting upon any request. We may not be able
			to allow you to access certain personal information in some cases. For example if your
			personal information is connected with personal information of other persons, or for legal
			reasons. In such cases we will provide you with an explanation why you cannot obtain this
			information. We may also deny your request for deletion or rectification of your personal
			information due to statutory provisions, especially those affecting Tripitoes’s accounting,
			processing of claims, and mandatory data retention, which may prohibit deletion.</p>
			
			<h5>How to contact us or how to lodge a complaint</h5>
			<p>Tripitoes controls the processing of personal information on its Platforms. To exercise your
			rights, or if you have questions about our privacy practices or need assistance with
			exercising or understanding your privacy choices, please contact us at
			contactus@Tripitoes.com</p>
			
			<h5>Cookies and other tracking tools</h5>
			<p>Tripitoes uses tracking tools such as cookies</p>
			<p>We (or our suppliers) use several common tracking tools. We use these tools to collect
			usage and demographic information about you over time and across different Web sites
			when you use our Platforms. We also have third parties (e.g. advertisers) that collect
			personal information this way. Tools we use may include browser cookies. Your browser will
			store these cookies on your computer in a small file.</p>
			
			<p>We and our advertising partners may also use web beacons (single pixel GIF images). These
			web beacons are placed in the code of a Web page or an email newsletter. When you access
			a partner site within our mobile applications, we may track your activity on that site.</p>
			<p>By using the Platforms, you give us your free, unambiguous and informed consent to the use
of any of the cookies and tracking tools mentioned in this policy.</p>

			<p>Tripitoes uses tracking tools for following purposes</p>
			
			<p>To track new visitors to the Platforms.</p>
			
			<p>To help us recognize your browser as a previous visitor. This includes saving and
			remembering any preferences that may have been set while your browser was visiting the
			Platforms, such as language.</p>
			
			<p>To store your username and password if you are registered with us.</p>
			
			<p>To make use of cross-device tracking in order to optimize our advertising activities. As part
			of cross-device tracking, Tripitoes may combine information collected from a particular
			browser or mobile device with another computer or device linked to the computer or device
			from which the information was collected. By changing your cookie settings on your device
			you can change your cross-device tracking settings for advertising purposes.</p>

			<p>To work with online advertising companies to display targeted advertising on our Platforms
			and third party platforms that you visit. This targeting may be based on information you
			submit on our Platforms or third party platforms. This targeting may also be based on your
			activities or behaviors on our Platforms or those of third parties. We may also obtain
			information about your browsing history from our business partners.</p>

			<p>To track when you book on partner websites.</p>
			
			<p>To help improve our website offering and for capacity planning purposes. We or our third
			party service providers may set analytics cookies. These allow us to gather aggregated or
			segmented information about the types of visitors that access our Platforms and the pages
			and advertisements that they view. In order to better understand your use of our Platforms,
			we or our third party service providers may collect information on such use, including pages
			visited, links clicked and mouse movements. We do not use this information to personally
			identify you.</p>

			<p>How you can control tracking tools and opt-out of online behavioral advertising
			Your browser may give you the ability to control cookies. How to do this varies from
			browser to browser. You should view the Help menu on the browser you use for further
			information. Your opt out choice is stored in opt out cookies only in that browser, so you
			should separately set your preferences for other browsers, computers, or devices you may
			use. If your browser blocks cookies, your opt out preferences may not be effective. Deleting
			browser cookies can remove your opt out preferences, so you should visit this page</p>

			<p>periodically to review your preferences. If you block or delete cookies or opt out of online
			behavioral advertising, not all of the tracking that we have described in this policy will stop.
			Please also note that opting out of a third party cookie does not mean that you will no
			longer receive or be subject to online advertising or marketing. It means that the third party
			service from which you opted out will no longer deliver ads tailored to your web
			preferences and online behavioral. To opt out of having your online behavior tracked by
			Tripitoes for advertising purposes click here; this means that Tripitoes will no longer use
			information derived from your online behavior, collected by Tripitoes or third parties acting
			on behalf of Tripitoes, for the purpose of providing you interest-based advertising from
			Tripitoes only. Note that opting out of receiving interest-based advertising through the link
			above does not mean you will no longer receive advertising from Tripitoes or third parties at
			all; rather it means that most of the advertising that you will see will not be based on your
			particular interest. In addition, Tripitoes may still collect information for other purposes
			consistent with this Privacy Policy.</p>
			<p>We may also use Google Analytics to collect demographic and interest data about you (such
			as age, gender, and interests), including through Google Analytics Demographics and
			Interest Reporting. We may use the information collected about you through Google
			Analytics for Google services such as Remarketing with Google Analytics and Google Display
			Network Impression Reporting. You can find out more about Google Analytics and how to
			opt-out by going here. Choices you make are browser and device specific. Some aspects of
			our site use cookies to function. You may not be able to use these features if you set your
			device to block cookies.</p>
			
			<h5>How Tripitoes responds to “Do Not Track” signals</h5>
			<p>Some browsers have a “Do Not Track” feature that lets you tell websites that you do not
			want to have your online activities tracked. These features are not yet uniform, so we are
			not currently set up to respond to those signals.</p>
          </div>
        </section>
      </div>
    </div>
	</div>
    
  </div>