<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
<title>Tripitoes</title>

<!-- FONTS -->
<?php echo $this->Html->css(
				[
					'/trip_front/css/MS_0.css',
					'/trip_front/css/bootstrap.min.css',
					'/trip_front/css/main.css',
					'/trip_front/css/style.css',
					'/trip_front/css/responsive.css',
					'/trip_front/css/animate.css',
					'/trip_front/css/font-awesome.min.css',
					'/trip_front/css/custom.css' ], ['rel'=>"stylesheet", 'type'=>"text/css", 'media'=>'screen', 'async'=>'async']);
			echo $this->Html->css('/trip_front/rs-plugin/css/settings.css',['media'=>'screen']);		
			echo $this->Html->css('/trip_front/css/jquery.scrolling-tabs.css'); ?>

			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:500,600,700&subset=cyrillic-ext" type="text/css" media="screen" async="async" media="not all" onload="if (media != 'all')media='all'"/>
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ultra" type="text/css" media="screen" async="async" media="not all" onload="if (media != 'all')media='all'"/>
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playball" type="text/css" media="screen" async="async" media="not all" onload="if (media != 'all')media='all'"/>
			
<!-- JavaScripts -->
  <?= $this->fetch('autocompletecss'); ?> 
<link rel="SHORTCUT ICON" href="<?= $cdn_path;?>tripitoes_images/favicon32.png" type="image/x-icon"/>
<link rel="SHORTCUT ICON" href="<?= $cdn_path;?>tripitoes_images/favicon16.png" type="image/x-icon"/>
<link rel="SHORTCUT ICON" href="<?= $cdn_path;?>tripitoes_images/favicon.ion" type="image/x-icon"/>
<link rel="SHORTCUT ICON" href="<?= $cdn_path;?>tripitoes_images/favicon76.png" type="image/x-icon"/>
</head>
<body>
<!-- LOADER ===========================================-->
<?= $this->element('div_loader'); ?>
<div id="loader">
  <div class="loader">
    <div class="position-center-center">
	<?= $this->Html->image($cdn_path.'tripitoes_images/logo-beta.svg',['alt'=>'','height'=>'40']);?>
	 <p class="text-center">Please Wait...</p>
      <div class="loading">
      	<div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
      </div>
    </div>
  </div>
</div>

<!-- Page Wrap -->
<div id="wrap">
<!-- Header starts -->
	<?= $this->element('trip_header'); ?>
<!-- Header End --> 

<!--======= HOME MAIN SLIDER =========-->
	<?= $this->element('trip_slider'); ?>
<!--======= SEARCH BAR =========-->
	<?= $this->element('trip_navbar'); ?>
  <?= $this->element('sell_popup'); ?>
<!--======= WHY TRIPITOES =========-->
<!--======= FEATURED PACKAGES =========-->
  <?= $this->fetch('content'); ?> 
<!--======= Footer =========-->
  <?= $this->element('trip_footer'); ?>
<a href="#" class="cd-top"><i class="fa fa-angle-up"></i></a> 
  <!-- GO TO TOP End -->
</div>

<!-- Wrap End --> 
<?php  
	$this->Html->script([
							'/trip_front/js/jquery-1.11.3.js',
							'/trip_front/js/wow.min.js',
							'/trip_front/js/bootstrap.min.js',
							'/trip_front/js/own-menu.js',
							'/trip_front/js/owl.carousel.min.js',
							'/trip_front/js/jquery.magnific-popup.min.js',
							'/trip_front/js/jquery.flexslider-min.js',
							'/trip_front/js/jquery.isotope.min.js',
							'/trip_front/js/jquery.nouislider.min.js',
							'/trip_front/js/bootstrap-select.min.js',
							'/trip_front/js/jquery.scrolling-tabs.js',
							'/trip_front/js/st-demo.js',
							'/trip_front/rs-plugin/js/jquery.themepunch.tools.min.js',
							'/trip_front/rs-plugin/js/jquery.themepunch.revolution.min.js',

						]); 
						
						?>
						<?php  $this->Html->script('/trip_front/js/modernizr.js'); ?>
						
						<script src="/trip_front/js/modernizr.js"></script>
						<script src="/trip_front/js/jquery-1.11.3.js" ></script>
						<script src="/trip_front/js/wow.min.js" ></script>
						<script src="/trip_front/js/own-menu.js" ></script>
						<script  src="/trip_front/js/bootstrap.min.js" ></script>
						<script src="/trip_front/js/owl.carousel.min.js" ></script>
						<script  src="/trip_front/js/jquery.magnific-popup.min.js" ></script>
						<script  src="/trip_front/js/jquery.flexslider-min.js" ></script>
						<script  src="/trip_front/js/jquery.isotope.min.js" ></script>
						<script  src="/trip_front/js/jquery.nouislider.min.js" ></script>
						<script  src="/trip_front/js/bootstrap-select.min.js" ></script>
						<script src="/trip_front/js/jquery.scrolling-tabs.js" ></script>
						<script type="text/javascript">;(function() {
						  'use strict';
						  $(activate);
						  function activate() {
							$('.nav-tabs')
							  .scrollingTabs()
							  .on('ready.scrtabs', function() {
								$('.tab-content').show();
							  });
						  }
						 }());
						</script>
						<script  src="/trip_front/rs-plugin/js/jquery.themepunch.tools.min.js" ></script>
						<script  src="/trip_front/rs-plugin/js/jquery.themepunch.revolution.min.js" ></script>
						<script src="/trip_front/js/main.js" ></script>
						
						
	<?php echo 
	$this->Html->css([
							'/trip_front/css/bootstrap-select.min.css'
	]);?>					
<?= $this->fetch('select2css') ?>
<?= $this->fetch('select2js') ?>

<script type="text/javascript">
if (window.location.hash == '#_=_')window.location.hash = '';
</script>
<script>
$(".package_destination").select2({
    minimumInputLength: 2,
    placeholder: "Select Destination",
    allowClear: true,
    ajax: {
        url: "<?php echo $this->Url->build(['controller'=>'Pages','action'=>'autocompleteDestination']); ?>",
        dataType: 'json',
        type: "GET",
        quietMillis: 50,
        data: function (term) {
            return {
                term: term
            };
        },
        results: function (data) {
            return {
                results: $.map(data, function (item) { 
                    return {
                        id: item.id,
                        text: item.itemName,
                        slug: item.slug
                    }
                })
            };
        }
    }
});
$(".hotel_destination").select2({
    minimumInputLength: 2,
    placeholder: "Select Destination",
    allowClear: true,
    ajax: {
        url: "<?php echo $this->Url->build(['controller'=>'Pages','action'=>'autocompleteHotel']); ?>",
        dataType: 'json',
        type: "GET",
        quietMillis: 50,
        data: function (term) {
            return {
                term: term
            };
        },
        results: function (data) {
            return {
                results: $.map(data, function (item) { 
                    return {
                        id: item.id,
                        text: item.itemName,
                        slug: item.slug
                    }
                })
            };
        }
    }
});
$(".pickup_city,.destination_city").select2({
    minimumInputLength: 2,
    placeholder: "Select City",
    allowClear: true,
    ajax: {
        url: "<?php echo $this->Url->build(['controller'=>'Pages','action'=>'autocompleteCity']); ?>",
        dataType: 'json',
        type: "GET",
        quietMillis: 50,
        data: function (term) {
            return {
                term: term
            };
        },
        results: function (data) {
            return {
                results: $.map(data, function (item) { 
                    return {
                        id: item.id,
                        text: item.itemName
                    }
                })
            };
        }
    }
});
$(".package_destination").on("change", function(e) {
   $(this).attr('value',e['added'].id+','+e['added'].slug);
});
$(".hotel_destination").on("change", function(e) {
   $(this).attr('value',e['added'].id+','+e['added'].slug);
});
$(".package_destination").css('letter-spacing','3px');
$(document).on('click','.CallCount,.ShareCount',function(e){  
    //e.preventDefault();
    var url=$(this).attr('redirecturl'); 
    $.ajax({
      type: 'get',
      url: url,
      beforeSend: function(msg){
         
      },
      success: function(response) 
      {
      },
      error: function(e) 
      {
      }
    });
});
</script>
<script>

$(document).ready(function(){ 
    $('[data-toggle="tooltip"]').tooltip();   
});

$(document).ready(function($) {
  //  Price Filter ( noUiSlider Plugin)
    $("#price-range").noUiSlider({
    range: {
      'min': [ 0 ],
      'max': [ 100000 ]
    },
    start: [0, 100000],
        connect:true,
        serialization:{
            lower: [
        $.Link({
          target: $("#price-min")
        })
      ],
      upper: [
        $.Link({
          target: $("#price-max")
        })
      ],
      format: {
      // Set formatting
        decimals: 0,
        prefix: 'Rs.'
      }
        }
  })
  
  $("#price-range-hotel").noUiSlider({
    range: {
      'min': [ 0 ],
      'max': [ 100000 ]
    },
    start: [0, 100000],
        connect:true,
        serialization:{
            lower: [
        $.Link({
          target: $("#price-min-h")
        })
      ],
      upper: [
        $.Link({
          target: $("#price-max-h")
        })
      ],
      format: {
      // Set formatting
        decimals: 0,
        prefix: 'Rs.'
      }
        }
  })
  
})

</script>
</body>
<?= $this->fetch('autocompletejs'); ?>
<?= $this->fetch('scriptPageBottom'); ?>
</html>
