<!DOCTYPE html>

<html>
     <head>
     <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
     <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
     </head>

     <body>
        <p>Address: <div id="address"></div></p>
     </body>
     <script type="text/javascript" charset="utf-8">
     $(document).ready(function() {
         var currgeocoder;

         //Set geo location lat and long

         navigator.geolocation.getCurrentPosition(function(position, html5Error) {
             geo_loc = processGeolocationResult(position);
             currLatLong = geo_loc.split(",");
			 console.log(currLatLong);
             codeLatLng(currLatLong[0], currLatLong[1]);

        });
		
		function codeLatLng(lat, lng) {
			  var latlng = new google.maps.LatLng(lat, lng);
			  geocoder.geocode({latLng: latlng}, function(results, status) {
				if (status == google.maps.GeocoderStatus.OK) {
				  if (results[1]) {
					var arrAddress = results;
					console.log(results);
					$.each(arrAddress, function(i, address_component) {
					  if (address_component.types[0] == "locality") {
						console.log("City: " + address_component.address_components[0].long_name);
						itemLocality = address_component.address_components[0].long_name;
					  }
					});
				  } else {
					alert("No results found");
				  }
				} else {
				  alert("Geocoder failed due to: " + status);
				}
			  });
			}
		});
/*
        //Get geo location result

       function processGeolocationResult(position) {
             html5Lat = position.coords.latitude; //Get latitude
             html5Lon = position.coords.longitude; //Get longitude
             html5TimeStamp = position.timestamp; //Get timestamp
             html5Accuracy = position.coords.accuracy; //Get accuracy in meters
             return (html5Lat).toFixed(8) + ", " + (html5Lon).toFixed(8);
       }

        //Check value is present or not & call google api function

        function initializeCurrent(latcurr, longcurr) {
             currgeocoder = new google.maps.Geocoder();
             console.log(latcurr + "-- ######## --" + longcurr);

             if (latcurr != '' && longcurr != '') {
                 var myLatlng = new google.maps.LatLng(latcurr, longcurr);
                 return getCurrentAddress(myLatlng);
             }
       }

        //Get current address

         function getCurrentAddress(location) {
              currgeocoder.geocode({
                  'location': location

            }, function(results, status) {
           
                if (status == google.maps.GeocoderStatus.OK) {
                    console.log(results[0]);
                    $("#address").html(results[0].address_components[3].long_name);
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
         }
    });
	*/
 
    </script>
	
	
</html>